<h3>Inspiration: &lt;&lt;Hidden Order: How Adaptation Builds Complexity&gt;&gt; by Holland (ISBN: 9780201407938) outlined the basics of a genetic algorithm to simulate the Prisoner's dilemma.</h3>

<h3><center>Use genetic programming to yield the most desirable strategy for prisoner's dilemma</center></h3>
<br>
<center><h4>A Standard Pay-off Matrix</h4></center>

<table>
    <tr>
        <td></td>
        <td></td>
        <td colspan=2>Prisoner B</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Cooperate</td>
        <td>Defect</td>
    </tr>
    <tr>
        <td rowspan=2>Prisoner A</td>
        <td>Cooperate</td>
        <td>(3, 3)</td>
        <td>(-5, 10)</td>
    </tr>
    <tr>
        <td>Defect</td>
        <td>(10, -5)</td>
        <td>(-1, -1)</td>
    </tr>
</table>

<h3>Based on some evolutionary literatures, I decide to start w/ an example genetic algorithm from scratch.</h3>

<h3>Some excellent reads:</h3>
<ul>
    <li><b>&lt;&lt;On the Origin of Species&gt;&gt; by Charles Darwin. Of course this has to be the 1st book on the list. A remarkably careful thinker w/ extremely insightful and well-articulated ideas.</b></li>
    <li>&lt;&lt;The Red Queen: Sex and the Evolution of Human Nature&gt;&gt; by M. Ridley</li>
    <li>&lt;&lt;The Third Chimpanzee: The Evolution and Future of the Human Animal&gt;&gt; by J. Diamond</li>
    <li>&lt;&lt;Hidden Order: How Adaptation Builds Complexity&gt;&gt; by J. Holland</li>
    <li>&lt;&lt;Why We Get Sick: The New Science of Darwinian Medicine&gt;&gt; by R. Nesse</li>
    <li>&lt;&lt;Psychology: An Evolutionary Approach&gt;&gt; by S. Gaulin and D. McBurney</li>
    <li>&lt;&lt;The Ancestor's Tale&gt;&gt; by R. Dawkin</li>
</ul>

<h3>Theoretically, given enough sample size and computing power, a forgiving tic-for-tac strategy should win out. I'm more interested in playing w/ multiple different payoff matrixes and evolutionary scenarioes.</h3>

<h3>Note: any sensible scientist will bark at me for this, but "strategy" and "individual" will be used interchangeably in this example, since I assume each individual is only capable of one fixed pattern of strategy. It's simply a starting point of building a model.</h3>

In [1]:
import random
import numpy as np
from collections import Counter
import warnings
import pandas as pd
from tqdm import tqdm_notebook
from IPython.display import display, HTML
pd.set_option('max_colwidth', 100)

In [2]:
# Pay-off matrix
matrix = {'CC': (3, 3),
          'CD': (-5, 10),
          'DC': (10, -5),
          'DD': (-1, -1)}

def display_matrix(matrix):
    df = pd.DataFrame({'Action': ['Cooperate', 'Defect'],
                       'Cooperate': [matrix['CC'], matrix['DC']],
                       'Defect': [matrix['CD'], matrix['DD']]})
    display(HTML(df.to_html()))
    
display_matrix(matrix)

In [3]:
# To start w/ simple parameters

past_n = 5 # past n interaction to remember for agent
total_n = 5 # total # of interactions remembered by agent
evolution_cycles = 10 # evolution cycles #
population_size = 5 # population size
max_competitions_per_round = 5 # Number of competitions per round
mutation_rate = 0.01 # probability for any one of the strategies to mutate
strats = ['C', 'D'] # Cooperate or Defect

### We need a way to calculate rewards in each round, based on the pay-off matrix

In [4]:
def calc_rewards(strat_list_1,
                 strat_list_2,
                 past_n = past_n,
                 matrix = matrix,
                 agent_1_only = True):
    if len(strat_list_1) != len(strat_list_2):
        warnings.warn("strat_lists must be of equal length!")
        return
    else:

        total_score_1, total_score_2 = 0, 0
        strat_list_zip = zip(strat_list_1[-past_n:], strat_list_2[-past_n:])

        if agent_1_only:
            for move_1, move_2 in strat_list_zip:
                score_1 = matrix[move_1+move_2][0]

                total_score_1 += score_1

            return total_score_1
        
        else:
            for move_1, move_2 in strat_list_zip:
                score_1 = matrix[move_1+move_2][0]
                score_2 = matrix[move_1+move_2][1]

                total_score_1 += score_1
                total_score_2 += score_2

            return total_score_1, total_score_2

In [5]:
random_strat_list_1 = random.choices(strats,
                                     k=3)
random_strat_list_2 = random.choices(strats,
                                     k=3)
print(random_strat_list_1)
print(random_strat_list_2)

calc_rewards(strat_list_1=random_strat_list_1,
             strat_list_2=random_strat_list_2,
             agent_1_only=False)

['D', 'D', 'C']
['C', 'C', 'C']

(23, -7)

<h2><center>So, we'll start with this pay-off matrix</center></h2>
<table>
    <tr>
        <td></td>
        <td colspan=3>Prisoner B</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Cooperate</td>
        <td>Defect</td>
    </tr>
    <tr>
        <td rowspan=2>Prisoner A</td>
        <td>Cooperate</td>
        <td>(3, 3)</td>
        <td>(-5, 10)</td>
    </tr>
    <tr>
        <td>Defect</td>
        <td>(10, -5)</td>
        <td>(-1, -1)</td>
    </tr>
</table>

In [6]:
# A helpful way to condense the strategies employed by each individual:

def stringify_list(input_list,
                   joint=''):
    return joint.join(input_list)

stringify_list(['D', 'C', 'D', 'D', 'D'])

'DCDDD'

In [7]:
# A helpful way to visualize cross overs & mutations during evolution

class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

print('Father: CC' + color.BLUE + color.BOLD + 'DDD' + color.END)
print('Mother: ' + color.BLUE + color.BOLD + 'DD' + color.END + 'CCC')
print('Child:  ' + color.BLUE + color.BOLD + 'DDDDD' + color.END)

Father: CCDDD
Mother: DDCCC
Child:  DDDDD

### We need a way to repopulate the next generation based on the relative fitness of the previous generation. We'll keep the overall population size constant at each generation.

In [8]:
def count_c(row,
            rounding = 2):
    return(round(Counter(row['Strategy'])['C'] / len(row['Strategy']), rounding))

def repopulate(population_list,
               total_score_list,
               population_size,
               render_stat_df=True,
               ordered_df=True):
    if len(population_list) != population_size:
        warnings.warn(f'New population has a size of {population_size}, different from the previous population {len(population_list)}!')
    else:
        new_population_list = random.choices(population_list,
                                             weights=total_score_list,
                                             k = population_size)
        
        if not render_stat_df:
            return new_population_list
        
        else:
            # Represent the strat_lists in string format for easier viewing
            population_str_list = [''.join(x) for x in population_list]
            new_population_str_list = [''.join(x) for x in new_population_list]
            
            # Consolidate identical strat_lists
            population_counter = Counter(population_str_list)
            
            stat_df = pd.DataFrame(data={'Strategy': population_str_list,
                                         'Score': total_score_list})
            stat_df_grouped = stat_df.groupby(by='Strategy') \
                                     .agg({'Strategy': 'size',
                                           'Score': 'mean'}) \
                                     .rename(columns={'Strategy': 'Freq',
                                                      'Score': 'Avg_wt'}) \
                                     .reset_index()
            stat_df_grouped['Avg_wt'] = round(stat_df_grouped['Avg_wt'], 2)
            
            new_population_counter = Counter(new_population_str_list)
            
            new_population_df = pd.DataFrame.from_dict(new_population_counter, orient='index') \
                                            .reset_index()
            new_population_df.rename(columns={'index': 'Strategy',
                                              0: 'New_freq'},
                                     inplace=True)
            final_stat_df = stat_df_grouped.merge(new_population_df,
                                                  on = 'Strategy',
                                                  how='left')
            final_stat_df['New_freq'] = final_stat_df['New_freq'].fillna(0)
            final_stat_df['New_freq'] = final_stat_df['New_freq'].astype(int)
            
            final_stat_df['C_%'] = final_stat_df.apply(count_c, axis=1)
            
            final_stat_df.sort_values(by='Avg_wt',
                                      ascending=False,
                                      inplace=True)
            final_stat_df.reset_index(drop=True,
                                      inplace=True)
            
            return new_population_list, final_stat_df

In [9]:
initial_test_population = [['D', 'D', 'C', 'C', 'C'],
                           ['D', 'D', 'C', 'C', 'C'],
                           ['C', 'D', 'D', 'C', 'C'],
                           ['C', 'D', 'D', 'C', 'C']]

population_snapshot, strat_df = repopulate(population_list = initial_test_population,
                                           total_score_list = [20,23,9,6],
                                           population_size= 4)
print('Population:')
for individual in population_snapshot:
    print(individual)

display(HTML(strat_df.to_html()))

Population:
['D', 'D', 'C', 'C', 'C']
['C', 'D', 'D', 'C', 'C']
['D', 'D', 'C', 'C', 'C']
['D', 'D', 'C', 'C', 'C']

### We need a way to simulate mutation at each generation. It's helpful to specify two customizable parameters:
### 1. mutation_rate: this governs the likelihood of mutation within a new generation
### 2. min_mutation_individual: the minumum number of individuals undergoing mutation at each new generation. This can be helpful in consistently steering population from homogeneity, therefore challenging predominate strategies to novel strategies

In [10]:
def mutate(population_list,
           mutation_rate,
           min_mutation_individual=1,
           verbose=1):
    # for efficiency's sake, generate random # for at an individual level. If lower than threshold, then change one random element from list
    if min_mutation_individual > len(population_list):
        warnings.warn(f'min_mutation_individual {min_mutation_individual} cannot be greater than population: {population_list}!')
        return
    if verbose > 0:
        print(f'\nMutation:')
    mutation_counter = 0
    mutation_index = []
    for index, population in enumerate(population_list):
        if len(population_list) - index <= min_mutation_individual - mutation_counter: # Ensure a min number of mutations
            mutation = True
        else:
            mutation = random.uniform(0, 1) < mutation_rate
        if mutation:
            mutation_counter += 1
            mutation_index.append(index)
            mutation_site = random.randint(0, len(population) -1)
            strats_copy = strats.copy()
            strats_copy.remove(population[mutation_site])
            new_strat = random.choice(strats_copy)
            if verbose > 0:
                print(f'{stringify_list(population[:mutation_site])}' \
                      + color.RED + color.BOLD + f'({population[mutation_site]}->{new_strat})'+ color.END \
                      + f'{stringify_list(population[mutation_site+1:])}')
            population[mutation_site] = new_strat
        
    return population_list
    
mutate(population_list=initial_test_population,
       min_mutation_individual=1,
       mutation_rate=0)

Mutation:
CDD(C->D)C

[['D', 'D', 'C', 'C', 'C'],
 ['D', 'D', 'C', 'C', 'C'],
 ['C', 'D', 'D', 'C', 'C'],
 ['C', 'D', 'D', 'D', 'C']]

### We need to simulate crossover at each generation. Strictly speaking, this is not necessary. I read one theory that higher-order creatures (i.e. mammals) evolved sexual reproduction to combat parasitic agents. In nature, asexual reproduction is also widely seen (i.e. bacteria). Some species alternate between sexual & asexual reproduction means. For furter readings, I recommend &lt;&lt;The Red Queen&gt;&gt; by M. Ridley (ISBN: 9780060556570).

### Since in this simulation, there's no parasitic agents to avoid, crossover may not be necessary. But crossover can introduce hybrids that enhances genetic variation, as well as potentially passing down suitable building blocks of genes, since useful building blocks are theoretically more likely to be present in future generations, so a crossover mechanism essentially allows more building w/ more useful "lego blocks". See &lt;&lt;Hidden Order&gt;&gt; by J. Holland for a better illustration of this idea.

In [11]:
def crossover(population_list,
              crossover_rate,
              verbose=1):
    num_of_crossover = int(crossover_rate * len(population_list))
    if verbose >= 2:
        print(f'\n{num_of_crossover} of {len(population_list)} crossovers.')
    random.shuffle(population_list)
    crossover_population = population_list[0: num_of_crossover]
    final_population = population_list[num_of_crossover:]
    
    # Randomly pair up individual in 1:1 'male-female' ratio. Allow self-pollinating in order to speed-up algorithm (minimal impact when population size is large)
    for individual in crossover_population:
        partner = random.choice(crossover_population)
        crossover_index = random.randint(0, len(individual) - 1)
        new_individual = individual[:crossover_index] + partner[crossover_index:]
        if verbose >= 2:
            print('father: ' + color.BOLD + color.BLUE + stringify_list(individual[:crossover_index]) + color.END + stringify_list(individual[crossover_index:]) + '\n' \
                  'mother: ' + stringify_list(partner[:crossover_index]) + color.BOLD + color.BLUE + stringify_list(partner[crossover_index:]) + color.END + '\n' +\
                  ' child: ' + color.BOLD + color.BLUE + stringify_list(new_individual) + color.END + '\n')
        final_population.append(new_individual)
        
    return final_population

crossover(population_list=initial_test_population,
          crossover_rate=0.9,
          verbose=2)

3 of 4 crossovers.
father: CDDDC
mother: CDDDC
 child: CDDDC

father: CDDCC
mother: CDDCC
 child: CDDCC

father: DDCCC
mother: CDDCC
 child: DDDCC

[['D', 'D', 'C', 'C', 'C'],
 ['C', 'D', 'D', 'D', 'C'],
 ['C', 'D', 'D', 'C', 'C'],
 ['D', 'D', 'D', 'C', 'C']]

### Putting these helper functions together into a genetic algorithm.

In [12]:
past_n = total_n # Allow the agent to remember all past interactions

def genetic_selection(total_n = total_n,
                      past_n = past_n,
                      evolution_cycles = evolution_cycles,
                      population_size = population_size,
                      max_competitions_per_round = max_competitions_per_round,
                      matrix = matrix,
                      mutation_rate = None,
                      min_mutation_individual = 1,
                      crossover_rate = None,
                      verbose = 0,
                      return_counter=True):
    
    population_list = [random.choices(strats,
                                      k = total_n) for _ in range(population_size)]
    
    prog_bar = tqdm_notebook(total=evolution_cycles)
    prog_bar.set_description_str('Evolution Progress:')
    
    display_matrix(matrix)
    # simulate competition & score each strategies
    for generation in range(evolution_cycles):
        total_score_list = []
        if verbose > 0:
            print(f'\n-----\nGeneration: {generation}')
        for population in population_list:
            if verbose >= 3:
                print(f'Individual: {stringify_list(population)}')

            competitor_lists = random.choices(population_list,
                                              k = max_competitions_per_round) # can compete with itself
            total_score_A = 0
            total_score_B = 0
            for competitor in competitor_lists:
                score_A, score_B = calc_rewards(strat_list_1=population,
                                                strat_list_2=competitor,
                                                matrix=matrix,
                                                past_n=past_n,
                                                agent_1_only=False)
                total_score_A += score_A
                total_score_B += score_B
                
                if verbose >=3:
                    print(f'Competitor: {stringify_list(competitor)} | score: {total_score}.')

            total_score_list.append(total_score_A + total_score_B)
        
        if verbose == 1:
            population_str_list = [''.join(x) for x in population_list]
            gen_counter = Counter(population_str_list).most_common()

        # re-populate based on the weighs (total_score_list)
        if verbose <= 0:
            population_list = repopulate(population_list=population_list,
                                         total_score_list=total_score_list,
                                         population_size=population_size,
                                         render_stat_df=False)
        elif verbose > 0:
            population_list, stat_df = repopulate(population_list=population_list,
                                                  total_score_list=total_score_list,
                                                  population_size=population_size,
                                                  render_stat_df=True)

            display(HTML(stat_df.to_html()))

        if crossover_rate is not None:
            population_list = crossover(population_list=population_list,
                                        crossover_rate=crossover_rate,
                                        verbose=verbose)
            
        if mutation_rate is not None:
            population_list = mutate(population_list=population_list,
                                     min_mutation_individual=min_mutation_individual,
                                     mutation_rate=mutation_rate,
                                     verbose=verbose)
        prog_bar.update(1)
    
    prog_bar.close()
    
    if return_counter:
        str_snapshot = [''.join(x) for x in population_list]
        strat_df = pd.DataFrame.from_dict(Counter(str_snapshot),
                                          orient='index').reset_index()
        strat_df.rename(columns={'index': 'Strategy',
                                 0: 'Population'},
                        inplace=True)
        strat_df['Ratio'] = round(strat_df['Population'] / sum(strat_df['Population']), 2)
        strat_df['C_%'] = strat_df.apply(count_c, axis=1)
        strat_df.sort_values(by='Population',
                             ascending=False,
                             inplace=True)
        strat_df.reset_index(drop=True,
                             inplace=True)
        return strat_df
        
    else:
        return population_list

### Run some simulations, from simple ones.

In [26]:
genetic_selection(total_n=8,
                  past_n = 8,
                  population_size=10,
                  max_competitions_per_round=50,
                  evolution_cycles=5,
                  mutation_rate=0.1,
                  crossover_rate=.2,
                  verbose=2)

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

-----
Generation: 0

2 of 10 crossovers.
father: CCDCDDCC
mother: CCCCCDCC
 child: CCCCCDCC

father: CCCCCDCC
mother: CCDCDDCC
 child: CCDCDDCC


Mutation:
CCC(C->D)CDCC

-----
Generation: 1

2 of 10 crossovers.
father: CCCCCDCC
mother: CCCCCDCC
 child: CCCCCDCC

father: CCCCCDCC
mother: CCCCCDCC
 child: CCCCCDCC


Mutation:
CCCD(C->D)DCC
CDCD(D->C)DCC

-----
Generation: 2

2 of 10 crossovers.
father: CCCCCDCC
mother: CCCCCDCC
 child: CCCCCDCC

father: CDCDCDCC
mother: CCCCCDCC
 child: CCCCCDCC


Mutation:
CCC(C->D)CDCC

-----
Generation: 3

2 of 10 crossovers.
father: CCCDCDCC
mother: CCCDCDCC
 child: CCCDCDCC

father: CCDCCDCC
mother: CCCDCDCC
 child: CCDCCDCC


Mutation:
CDCDC(D->C)CC
D(C->D)DCDDCC
CDCD(C->D)CCC
(C->D)DCDDCCC

-----
Generation: 4

2 of 10 crossovers.
father: CCDCCDCC
mother: DDCDDCCC
 child: CCCDDCCC

father: DDCDDCCC
mother: CCDCCDCC
 child: DDCCCDCC


Mutation:
(D->C)DCDDCCC

   Strategy  Population  Ratio   C_%
0  CDCDDCCC           6    0.6  0.62
1  CCDCCDCC           2    0.2  0.75
2  CCCDDCCC           1    0.1  0.75
3  DDCCCDCC           1    0.1  0.62

In [15]:
genetic_selection(total_n=8,
                  past_n=8,
                  population_size=12,
                  max_competitions_per_round=50,
                  evolution_cycles=20,
                  mutation_rate=0.03,
                  crossover_rate=0.5,
                  verbose=1)

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

-----
Generation: 0

Mutation:
DCCD(C->D)CDC

-----
Generation: 1

Mutation:
(D->C)CCDCDDC

-----
Generation: 2

Mutation:
DDDDDDD(D->C)

-----
Generation: 3

Mutation:
(D->C)DDDCDDD

-----
Generation: 4

Mutation:
CC(D->C)CDCCD

-----
Generation: 5

Mutation:
DD(D->C)CCDDC

-----
Generation: 6

Mutation:
CDDCCD(D->C)C

-----
Generation: 7

Mutation:
(D->C)DCCDCCD

-----
Generation: 8

Mutation:
DD(C->D)DCDDD

-----
Generation: 9

Mutation:
DDDCDC(C->D)D

-----
Generation: 10

Mutation:
CDD(C->D)CDCC

-----
Generation: 11

Mutation:
CC(D->C)CDCCC

-----
Generation: 12

Mutation:
CCD(C->D)CDCC

-----
Generation: 13

Mutation:
CCDCDCC(D->C)

-----
Generation: 14

Mutation:
CCCCDC(C->D)C

-----
Generation: 15

Mutation:
(C->D)CDCDCCC

-----
Generation: 16

Mutation:
CC(D->C)CDCCC

-----
Generation: 17

Mutation:
C(C->D)CCDCCC

-----
Generation: 18

Mutation:
CCDCD(C->D)CC

-----
Generation: 19

Mutation:
CDCCDCC(C->D)

   Strategy  Population  Ratio   C_%
0  CCCCDCCC           6   0.50  0.88
1  CDCCDCCC           2   0.17  0.75
2  CCDCDDCC           2   0.17  0.62
3  CCDCDCCC           1   0.08  0.75
4  CDCCDCCD           1   0.08  0.62

### A cooperative strategy predominated that simulation. Too small of a population size, and evolutionary path can play out in other directions, as the example below shows.

In [19]:
genetic_selection(total_n=8,
                  past_n=8,
                  population_size=12,
                  max_competitions_per_round=50,
                  evolution_cycles=20,
                  mutation_rate=0.03,
                  crossover_rate=0.5,
                  verbose=1)

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

-----
Generation: 0

Mutation:
DDDDDCD(C->D)

-----
Generation: 1

Mutation:
DDC(D->C)CCDC

-----
Generation: 2

Mutation:
(D->C)DCDCCDC

-----
Generation: 3

Mutation:
(C->D)CDCCCDC

-----
Generation: 4

Mutation:
C(C->D)DDDDCD

-----
Generation: 5

Mutation:
CCDCC(C->D)DC

-----
Generation: 6

Mutation:
(C->D)CDCDDCC

-----
Generation: 7

Mutation:
CC(D->C)CDDCC

-----
Generation: 8

Mutation:
C(C->D)DCDDCC

-----
Generation: 9

Mutation:
C(C->D)DDDDCD

-----
Generation: 10

Mutation:
C(C->D)DCDDCC
CD(D->C)DDDCC

-----
Generation: 11

Mutation:
(C->D)CDCDDCC
C(C->D)DCDDCC

-----
Generation: 12

Mutation:
CDDC(D->C)DCC

-----
Generation: 13

Mutation:
CC(D->C)CDDCC

-----
Generation: 14

Mutation:
CCDCDD(C->D)D

-----
Generation: 15

Mutation:
(C->D)CDCDDCC

-----
Generation: 16

Mutation:
(C->D)CDCDDCC
CCDC(D->C)DCC

-----
Generation: 17

Mutation:
(C->D)CDCDDCC

-----
Generation: 18

Mutation:
CCDCDD(C->D)C

-----
Generation: 19

Mutation:
DCDCCDC(C->D)

   Strategy  Population  Ratio   C_%
0  CCDCDDCC           9   0.75  0.62
1  DCDCDDCC           1   0.08  0.50
2  CCDCCDCC           1   0.08  0.75
3  DCDCCDCD           1   0.08  0.50

In [839]:
evolutionary_snapshot = genetic_selection(total_n=20,
                                          past_n=20,
                                          population_size=100,
                                          max_competitions_per_round=100,
                                          evolution_cycles=100,
                                          min_mutation_individual=2,
                                          mutation_rate=0.03,
                                          crossover_rate=0.5,
                                          verbose=0)

evolutionary_snapshot

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CCDCCCCCDCCCCCCCCCCC          13   0.13  0.90
1   CCDCCCCCDDCCCCCCCDCC           6   0.06  0.80
2   CCCCCCCCDCCCCCCCCCCC           5   0.05  0.95
3   CCCCCCCCDCDCCCCDCCCC           5   0.05  0.85
4   CCDCCCCCDCDCCCCDCCCC           4   0.04  0.80
5   CCDCCCCCDCDCCCCCCDCC           4   0.04  0.80
6   CCDCCCCCDCCCCCCDCCCC           4   0.04  0.85
7   CCCCCCCCDCCCCCCDCCCC           4   0.04  0.90
8   CCDCCCCCDCCCCCCCCDCC           4   0.04  0.85
9   CCDDDDCCCCDCDCCDCCCC           3   0.03  0.65
10  CCDCCCCDDCCCCCCCCCCC           3   0.03  0.85
11  CCDCCCCCDDCCCCCDCCCC           2   0.02  0.80
12  CCCCCCCCDCCCCCCCCDCC           2   0.02  0.90
13  CCDCCCCCCCDCDCCDCCCC           2   0.02  0.80
14  CCCDDDCCDCCCCCCCCCCC           2   0.02  0.80
15  CCDCDCCCDCCCCCCCCCCC           2   0.02  0.85
16  CCDCCCCCDDCCCCCCCCCC           2   0.02  0.85
17  CCDCCDCDDCCCCCCDCCCC           2   0.02  0.75
18  CCCCCCCCDCCCCCCDCDCC           2   0.02  0.85
19  DCDCCCCCDCDCCDCCCCCC           2   0.02  0.75
20  CCCDDDCCDCCCCCCDCCCC           2   0.02  0.75
21  CCDCCCCCDCDCDCCDCDCC           2   0.02  0.70
22  CCDCCCCCDCDCCDCCCCCC           2   0.02  0.80
23  DCDCCCCCDCCCCCCDCCCC           1   0.01  0.80
24  DCDCCCCCDDCCCCCDCCCC           1   0.01  0.75
25  CCDDDDCCDCCCCCCCCCCC           1   0.01  0.75
26  CCDDDDCCCCCCDCCDCCCC           1   0.01  0.70
27  CCCCCCCCDCCCDCCDCCCC           1   0.01  0.85
28  CCCCCCCCDCCCDCCCCCCC           1   0.01  0.90
29  CCCDDDCCDCCCDCCDCCCC           1   0.01  0.70
30  CCDCDCCCDCCCDCCDCCCC           1   0.01  0.75
31  DCCCCCCCDDCCCCCDCCCC           1   0.01  0.80
32  CCCDDDCCDCDCCCCDCCCC           1   0.01  0.70
33  CCDCDCCCDCCCCCCDCDCC           1   0.01  0.75
34  CCCCCCCCDDCCCCCCCDCC           1   0.01  0.85
35  CCDCCCCCDCDCCCCCCCCC           1   0.01  0.85
36  DCDCCCCCDCCCCCCCCCCC           1   0.01  0.85
37  CCCCCCCCDCDCCCCCCDCC           1   0.01  0.85
38  CCDCCDCCCCDCDCCDCCCC           1   0.01  0.75
39  DCCCCCCCDCCCCCCDCCCC           1   0.01  0.85
40  DCDCCCCCDCDCDCCDCCCD           1   0.01  0.65
41  CCDCCCCDDCDCCCCCCCCC           1   0.01  0.80
42  CCCDDDCCDCCCCCCCCDCC           1   0.01  0.75
43  CCCDCCCCDCCCCCCDCCCC           1   0.01  0.85

In [840]:
evolutionary_snapshot_1 = genetic_selection(total_n=50,
                                          past_n=50,
                                          population_size=100,
                                          max_competitions_per_round=50,
                                          evolution_cycles=100,
                                          min_mutation_individual=2,
                                          mutation_rate=0.03,
                                          crossover_rate=0.5,
                                          verbose=0,
                                          return_counter=True)

evolutionary_snapshot_1

HBox(children=(IntProgress(value=0), HTML(value='')))

,Strategy,Population,Ratio,C_%
0,CCCCCDCCCCCDCDDCCCDDDCCCCDCCCCCCDDCDCDDCCDCCCDCCDC,6,0.06,0.68
1,CCCCDDCCDCCCCDCCCDDCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,5,0.05,0.74
2,CCCCCCDCCCCDDDCCCDDDDCCCDCCCCCCCCCCDCDDCCDCCCDCCDC,3,0.03,0.70
3,CCCCCCDCCCCDDDCCCDDDDCCCDCCCCCDDCCCCCDCDCCCDCCCDDC,3,0.03,0.68
4,CCCCCCDCCCCDCDCCCDDDDCCCCDCCCCCCCCCCCDCDCCCDCCCDCC,3,0.03,0.76
5,CCCCCDCCCCCCDDDCDCCDDCCCCCCCCCCCCCCDCDCDCCCDCCCDCC,2,0.02,0.76
6,CCCCCCDCCCCDCDDCDCCDCDCCCCCCCCCCCCDCCDCCCDCDCDCCDC,2,0.02,0.74
7,CCCCCDCCCCCCDDDCDCDDDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,2,0.02,0.72
8,CCCCCCDCCCCCCDDCDCCCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,2,0.02,0.78
9,CCCCCDCCCCCDCDDCCDDDDCCCCCCCCCCCCCCDCDCDCCCDCCCDCC,2,0.02,0.74
10,CCCCCCDCCCCDCDCCDCCDDCCCDCCCCCCCCCCCDDDCCCCCCDCCCC,1,0.01,0.78
11,CCCCCCDCCCCCCDDCDCCCDCCDCCCCCCCCCCCCDDDCCCCCCDCDCC,1,0.01,0.78
12,CCCCCDCCCCCCDDDCCDDDDCCCCCCCCCCCCCCDCDCDCCCDCCCDCC,1,0.01,0.74
13,CCCCCCDCCCCDCDDCDCCDCDCCCCCCCCCCCCDCCDCCCDCDCCCDCC,1,0.01,0.76
14,CCCCCCDCCCCDCDCCDCCDDCCCDCCCCCCCCCCDCDDCCCCCCDCCCC,1,0.01,0.78
15,CCCCCCDCCCCDCDDCCDDDDCCCCCCCCCCCCCCDCDCDCCCDCCCDCC,1,0.01,0.74
16,CCCCCDCCCCCDCDDCCDDDDCCCCCCCCCCCCCCCCDCDCCCDCCCDCC,1,0.01,0.76
17,CCCCCCDCCCCCCDDCDCCCDCCCCDCCCCCCCCCDCDDCCCCCCCCCDC,1,0.01,0.80
18,CCCCCDCCCCCDCDCCCDDCDCCCCDCCCCCCCCCCDDDCCCCCCDCCCC,1,0.01,0.78
19,CCCCCCDCDCCCCDCCCDDDDCCCCCCCCCCCCCDCCDCCCDCDCDCCDC,1,0.01,0.74
20,CCCCCDCCDCCCCDCCCDDCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,1,0.01,0.76
21,CCCCCDCCCCCDCDDCCDDDDCCCCCCCCCCCCCCCCDDCCCCCCDCCDC,1,0.01,0.76
22,CCCCCCDCCCCCCDDCDCCCDCCCCDCCCCCCCCCDCDDCCCCCCDCCCC,1,0.01,0.80
23,CCCCCDCCCCCCCDDCDCCCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,1,0.01,0.78
24,CCCCCDCCCCCDCDDCCDDDDCCCCCCCCCCCCCCDCDDCCCCDCCCDCC,1,0.01,0.74
25,CCCCCCDCCCCDCDCCDCCDDCCCDCCCCCCCCCCCDDDCCDCCCDCCDC,1,0.01,0.74
26,CCCCCCDCCCCDCDDCDCCDCDCCCCCCCCCCCCDCCDCCCDCCCDCCDC,1,0.01,0.76
27,CCCCCDCCCCCDCDCCCDDDDCCCCCCCCCCCCCCCCDCDCCCDCDCCDC,1,0.01,0.76
28,CCCCDDCCCCCDCDDCCDDCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,1,0.01,0.72
29,CCCCCDCCCCCCCDDCDCCDCDCCCCCCCCCCCCDCCDCCCDCDCDCCDC,1,0.01,0.76
...,...,...,...,...
50,CCCCCCDCCCCDCDCCDCCCDDCCCDCCCCCCDCCCCDDCCCCCCCCCDC,1,0.01,0.78
51,CCCCCCDCCCCDDDCCCDDDDCCCDCCCCCCCCCCDCDDCCCCDCCCDCC,1,0.01,0.72
52,CCCCCCDCCCCDCDDCCCCCDCCCCDCCCCCCCCCCCDCDCCCDCCCDCC,1,0.01,0.80
53,CCCCCDDCCCCDCDDCCCCCDCCCCDCCCCCCCCCCDDDCCCDCCDCCDC,1,0.01,0.74
54,CCCCCDDCCCCDCDCCDCCDDCCCCCCCCCCCCCCCDDDCCCCCCDCCDC,1,0.01,0.76
55,CCCCCDDCCCCDCDDCCCCCDCCCCDCCCCCCCCCCCDCDCCCDCCCDCC,1,0.01,0.78
56,CCCCCCDCCCCCCDDCDCCCDCCDCCCCCCCCCCCCDDDCCCCCCDCCDC,1,0.01,0.78
57,CCCCCDCCCCCCDDDCDCCDDCCCCCCCCCCCCCCDCDDCCCCDCCCDCC,1,0.01,0.76
58,CCCCCDCCCCCCDDDCDCDDDCCCCCCCCCCCCCCCDDDCCCDCCDCCDC,1,0.01,0.72
59,CCCCCCDCCCCCCDDDCCCDDCCCCCCCCCCCCCCCCDCDCCCDCCCDCC,1,0.01,0.80
60,CCCCCDCCCCCCDDDCDCCDDCCCCDCCCCCCDDCDCDDCCCCCCDCCDC,1,0.01,0.70
61,CCDCCCDCDCCCCDCCCDDDDCCCCCCCCDCCCCCDCDDCCDCCCCCDCC,1,0.01,0.72
62,CCCCCCDCCCCDDDCCCDDDDCCCCCCCCCCCCDCDCDDCCCDCCDCCDC,1,0.01,0.70
63,CCCCCCDCCCCDCDCCDCCDDCCCDDCCCCCCCCCCCDCCCCCCCDCCDC,1,0.01,0.78
64,CCCCCCDCCCCCCDDCDCCCDCCCCDCCCCCCCCCCCDCDCCCDCCCDCC,1,0.01,0.80
65,CCCCCCDCCCCDCDDCCCCCDCCCCDCCCCCCCCCCCDDDCCCDCCCDCC,1,0.01,0.78
66,CCCCCDCCCCCCDDDCDCCDDCCCCDCCCCCCDDCDCDDCCDCCCDCCDC,1,0.01,0.68
67,CCCCCDCCCCCDCDCCCDDCDCCCCDCCCCCCCCCDCDDCCCCCCDCCCC,1,0.01,0.78
68,CCCCCCCCCCCDCDDCCCCCDCCCCDCCCCCCCDCDCDDCCCDCCDCCDC,1,0.01,0.76
69,CCCCCDDCCDCDCDCCCDDDDCCCCDCCCCCCCCCCCDCDCCCDCCCDCC,1,0.01,0.72
70,CCCCCCDCCCCDCDDCCCCCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,1,0.01,0.78
71,CCCCCCCCCCCDCDDCCDDCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,1,0.01,0.76
72,CCCCCDCCCCCDCDDCCCDDDCCCCDCCCCCCCCCDCDDCCCCDCCCDCC,1,0.01,0.74
73,CCCCCCDCCCCDCDDCCDDDDCCCCCCCCCCCCCCCDDDCCCCCCDCCDC,1,0.01,0.74
74,CCCCCDDCCDCCCDCCCDDCDCCCCDCCCCCCCCCDCDDCCCCCCDCCDC,1,0.01,0.74
75,CCCCCCDCCCCCCDCCDCCDDCCCDCCCCCCCCCCDCDDCCCCDCCCDCC,1,0.01,0.78
76,CCCCCCDCCCCDCDCCDCCDDCCCDCCCCCCCCCCCDDDCCCCCCDCCDC,1,0.01,0.76
77,CCCCCDDCCDCDCDCCCDDDDCCCCDCCCCCCCCDCCDCCCDCDCDCCDC,1,0.01,0.68
78,CCCCCDCCCCCDCDCCCDDDDCCCCCCCCDCCCCCDCDDCCDCCCCCDCC,1,0.01,0.74
79,CCCCCCDCCCCDDDCCCDDDCDCCCCCCCCCCCCDCCDCCCDCDCCCDCC,1,0.01,0.74

In [841]:
evolutionary_snapshot_2 = genetic_selection(total_n=50,
                                            past_n=50,
                                            population_size=100,
                                            max_competitions_per_round=50,
                                            evolution_cycles=100,
                                            min_mutation_individual=2,
                                            mutation_rate=0.03,
                                            crossover_rate=0.5,
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_2

HBox(children=(IntProgress(value=0), HTML(value='')))

,Strategy,Population,Ratio,C_%
0,CCCDCCCCDCCCCCCCCCDDCCDCCCCCDCCDCCCCCCCDCCDCCCCCCC,4,0.04,0.82
1,DCCCCCCCDCCCCCCDCDCCCCDCDCCCDCCDCDCCCCCCCCDCCCDCCC,3,0.03,0.78
2,DCCCCCCCDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCDCCCCCCC,3,0.03,0.84
3,CCCDCCCCDCCCCCCCCCDDCCDCCCCCDCCDCCCDCCCDCCDCCCCCCC,2,0.02,0.80
4,CCCDCCCDDCCCCDCCCCCCCCCCCCCCDCDDCDCCCCCCCCDCCCCCDC,2,0.02,0.80
5,DCCCCCCCDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCCCCCCCDC,2,0.02,0.84
6,DCCDCCCDCDDCCDCCCCCCCCCCCDCCCCCDCCCCCCCCCCDCCCCCDC,2,0.02,0.80
7,CCCDCCCDDDDCCDCCDCCCCCCCCDCCDCCDCDCDCDDCCCDCCCCCDC,2,0.02,0.68
8,CCCDCCCDDCCCCCCCDCCCCCCCCCCCDCDDCDCCDCCCCCDCCCCCCC,2,0.02,0.80
9,DCCDCCCDDCCCCDCCCCCCCCDCCDCCCCCDCDCCCCCCCCCCCCCCDC,2,0.02,0.80
10,CCCDCCCDDCCCCCCCDCCCCCCCCDCCDCCDCDCCCCCCCCCCCCCCDC,2,0.02,0.82
11,CCCDCCCDDCCCCDCCCCCCCCDCCCCCDCCDCCCCCDDCCCDCCCCCDC,2,0.02,0.78
12,DCCDCCCDDCCCCCCCDCCCCCDCCCCCCCCDCCCCCCCCCCDCDCCCCC,2,0.02,0.82
13,DCCDCCCCDCCCDCCDCCCCCCCCCCDCDCDDCDCCCCCCCCDCDCCCCC,2,0.02,0.76
14,CCCDCCCDDCCCCCCCDCCCCCCCCDCCDCDDCDCCCCCCCCDCCCDCCC,2,0.02,0.78
15,DCCDCCCDDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCDCCDCCCCCCC,2,0.02,0.78
16,DCCDCCCDCCCCCDCDCDCCCCDCCCCCCCCDCCCCCCCDCCCCCCDCCC,2,0.02,0.80
17,CCCDCCCDDCCCCCCCDCCCCCCCCDCCDCCDCDCCCCCCCCDCDCCCCC,2,0.02,0.80
18,DCCDCCCDCDDCCDCCDCCCCCCCCDCCDCDDCDCCCCCCCCDCCCDCCC,2,0.02,0.72
19,DCCCCCCCDCCCDDDCCCCCCCDCCCCCCCCDCDCCCCCCCCDCCCDCCC,1,0.01,0.80
20,DCCDCCCCDCCCCCCCDCCCCCDCCCCCCCCDCCCCCCCCCCDCDCCCCC,1,0.01,0.84
21,CCCDCCCDDCCCCDCCCCCCCCDCCCCCDCDDCDCCDCCCCCDCCCCCCC,1,0.01,0.78
22,DCCDCCCDDCCCCDCDCDCCCCDCCCCCCCCDCCCCCDDCCCDCCCCCDC,1,0.01,0.74
23,DCCCCCCCDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCCCCCCCCC,1,0.01,0.86
24,CCCDCCCDDCCCCCCCDCCCCCCCCDCCDCCDCCCCCCCCCCDCDCCCCC,1,0.01,0.82
25,CCCDCCCDDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCDCCCDCCC,1,0.01,0.80
26,CCCDCCCDDCCCCDCDCCCCCCCCCCCCDCDDCDCCCCCCCCDCCCCCDC,1,0.01,0.78
27,CCCDCCCDDCCCCCCCDCCCCCCCCCCCDCDDCDCCCCCCCCDCCCDCCC,1,0.01,0.80
28,CCCDCCCDDCCCCCCCDDCCCCDCCCCCDCCDCDCCCCCCCCCCDCCCCC,1,0.01,0.80
29,DCCDCCCDCDCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCCCCCCCDC,1,0.01,0.80
...,...,...,...,...
47,DCCDCCCCDCCCCCCCDCCCCCDCCCCCDCCDCCCCCCCCCCDCCCCCDC,1,0.01,0.82
48,DCCCCCCCDCCCCCCDCDCCCCCCCCCCDCDDCDCCCCCCCCDCCCCCDC,1,0.01,0.80
49,DCCDCCCDDCCCCDCDCDCCCCDCCCCCDCCDCDCCCCCCCCDCDCCCCC,1,0.01,0.74
50,DCCDCCCCDCCCCCCDCDCCCCDCCCCCDCCDCDCCCCCCCCCCDCCCCC,1,0.01,0.80
51,DCCDCCCDDCCCCDCCCCCCCCDCCCCCCCCDCDCCCCCCCCDCCCCCDC,1,0.01,0.80
52,CCCCCCCDDCCCCCCDCDCCCCDCCCCCDCDDCDCCDCCCCCDCCCCCCC,1,0.01,0.78
53,DCCDCCCCDCCCDCCDCCCCCCCCCCCCDCDDCDCCCCCCCCDCDCCCCC,1,0.01,0.78
54,CCCDCCCCDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCCCCCCCDC,1,0.01,0.84
55,CCCDCCCCDCCCCCCCCCDDCCDCCCCCDCCDCDCCCCCCCCDCDCCCCC,1,0.01,0.80
56,DCCDCCCDCDDCCDCCDCCCCCDCCCCCCDCDCDCCCCCDCCDCCCDCCC,1,0.01,0.72
57,DCCDCCCCDCCCCCCCDCCCCCCCCCCCDCCDCDCCCCCCCCCCCCCCDC,1,0.01,0.84
58,CCCDCCCDDCCCCCCDCDCCCCDCCCCCCCCDCDCCCCCCCCCCCCCCCC,1,0.01,0.84
59,DDCDCCCCDCCCDCCDCCCCCCCCCDCCDCDDCDCCCCCCCCDCCCDCCC,1,0.01,0.74
60,DCCCCCCCDCCCDDDCCCCCCCDCCCCCCCCDCDCCCCCCCCCCDCCCCC,1,0.01,0.82
61,CCCDCCCCDCCCCCCDCDCCCCDCCCCCCCCDCCCCCCCCCCCCCCCCDC,1,0.01,0.86
62,CCCDCCCDDCCCCCCCDCCCCCDCCCCCDCCDCCCCCCCCCCDCCCCCDC,1,0.01,0.82
63,DCCCCCCCDCCCCCCDCDCCCCDCDCCCDCCDCCCCCCCCCCCCDCCCCC,1,0.01,0.82
64,DCCDCCCDCDDCCDCDCCCCCCDCCDCCDCCDCCCCCCCCCCDCCCCCDC,1,0.01,0.74
65,CCCCCCCDDCCCCCCDCDCCCCDCCCCCDCDDCDCCDCCCCCDCDCCCCC,1,0.01,0.76
66,DCCDCCCCDCCCCCCDCCCCCCDCCCCCDCCDCDCCCCCCCCCCDCCCCC,1,0.01,0.82
67,CCCDCCCCCDDCCDCDCCCCCCCCCDCCDCCDCDCDCDDCCCDCCCCCCC,1,0.01,0.74
68,DCCCCCCCDCCCCDCDCDCCCCDCCCCCCCCDCCCCCCCDCCCCCCDCCC,1,0.01,0.82
69,DCCDCCCDDCCCCDCCDCCCCCCCCDCCDCDDCDCCCCCCCCDCCCDCCC,1,0.01,0.74
70,CCCDCCCDDCCCCCCCDCCCCCCCCCCCDCDDCDCCCCCCCCCCCCCCDC,1,0.01,0.82
71,DCCCCCCCDCCCDDCDCCCCCCDCCCCCDCCDCDCCCCCCCCDCCCCCDC,1,0.01,0.78
72,DCCDCCCCDCCCCDCCCCCCCCDCCDCCCCCDCCCCCCCDCCCCCCDCCC,1,0.01,0.82
73,DCCDCCCDDCCCCCCCDCCCCCDCCCCCCCCDCDCCCCCDCCDCCCCCCC,1,0.01,0.80
74,CCCDCCCDDCCCCCCCDCCCCCDCCCCCCCCDCDCCCCCCCCDCCCDCCC,1,0.01,0.82
75,DCCDCCCDCDDCCDCCDCCCCCDCCCCCDCCDCDCCCCCCCCCCDCCCCC,1,0.01,0.76
76,CCCDCCCCDCCCCCCCCCDDCCDCCCCCDCCDCDCCCCCCCCDCCCDCCC,1,0.01,0.80

In [842]:
evolutionary_snapshot_3 = genetic_selection(total_n=50,
                                            past_n=50,
                                            population_size=100,
                                            max_competitions_per_round=50,
                                            evolution_cycles=100,
                                            min_mutation_individual=2,
                                            mutation_rate=0.03,
                                            crossover_rate=None,
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_3

HBox(children=(IntProgress(value=0), HTML(value='')))

                                             Strategy  Population  Ratio   C_%
0  CCDCCCDDCDCCDDCCCCCDDCCCDCDDDCCCCCDDCCDCDDDDCCCCDC          51   0.51  0.60
1  DDCCCDDCDDDCCDDCDCDDDCCCDDCDDDDDDDDCCCDCCCDDDCCCCC          29   0.29  0.46
2  DDDCDCCDDDDCCCDCCCDCDDDCCDDDDDCDDDCCCDDCCCDDCDDDDC          20   0.20  0.42

In [843]:
evolutionary_snapshot_4 = genetic_selection(total_n=50,
                                            past_n=50,
                                            population_size=100,
                                            max_competitions_per_round=50,
                                            evolution_cycles=100,
                                            min_mutation_individual=2,
                                            mutation_rate=0.03,
                                            crossover_rate=None,
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_4

HBox(children=(IntProgress(value=0), HTML(value='')))

                                             Strategy  Population  Ratio   C_%
0  DCCDDDCCCCDDCDCCCDDCCDCDDCDCCCCCDCCDDCDDCDDCDCCDCD          40   0.40  0.54
1  CCCCDCCDDCDCCCDCCDDDCCDDCCCCDDDDDCCCCCCDCDCCDDCDDD          35   0.35  0.56
2  DDCCDDCDCCCCDDDDCCDCCDCCCCDDCDDCCDCCDDDDCCDCDDCCCD          25   0.25  0.52

In [844]:
evolutionary_snapshot_5 = genetic_selection(total_n=50,
                                            past_n=50,
                                            population_size=100,
                                            max_competitions_per_round=50,
                                            evolution_cycles=100,
                                            min_mutation_individual=2,
                                            mutation_rate=0.5,
                                            crossover_rate=1,
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_5

HBox(children=(IntProgress(value=0), HTML(value='')))

,Strategy,Population,Ratio,C_%
0,CCDCDDCCCDDDDCCCCDCDCCDCDDDDDCCCCCDCDDCCCCDDCCDCCC,2,0.02,0.58
1,CCCCCDCDCDCCCDCCCDDDDCCCDCDCDCCCCCDCCCDCCDCDDCDCCC,1,0.01,0.66
2,CDCCDDDCCDDCCCCCCDDDCCDCDCCCDDDCCCCCCCDCCCCDCDCDCC,1,0.01,0.64
3,CCCDCDCDCCCCCCDCCDDDCDCCDCCCDCCCCCCCCCDCDDCDCDCCCC,1,0.01,0.70
4,CCCCCDCCCCDDDCDCDDDCDCCCCCDCDCCCCCDCCCDCCCCDCCDCCC,1,0.01,0.70
5,CCDCCDCCCDDDDCDCCCDDDCDCDCDDDDDCCCDCCCDCCCCDCCDDCD,1,0.01,0.54
6,CCCCDDCDCCCCCDDCCDDDCCDCCCCDDDDCCDCCCCDDCCCDCCCCCC,1,0.01,0.66
7,CCCCDCDDCCDDCCDCCCDDCDCCDCCCCCCCCCCCCCDCDDCCCDDCCC,1,0.01,0.70
8,CCCCDDDCCDDCDCCCCDDDCDDCDCCCCDDCCCCCCCDCCCCDCDDCCC,1,0.01,0.64
9,CCCCDDCCCCCCDDCDCDDDDDCCCCDCDCCDCDDDCDDCCCCDDCCCCC,1,0.01,0.60
10,CCCCDDDCCDDCDCCCCDDDCCDCDCCCDDDCCCCCCCDCCCCDCDCCCC,1,0.01,0.66
11,CCDCCCCCCCCCCDCDCDDDDDCCDCCCDCCCDCCCCCDCCCCDCDCDCC,1,0.01,0.70
12,CCCCCCDDCCCCCCCCCDCDCDDCCCDCDCCCDCDCCCDCCCCDCCDCCD,1,0.01,0.72
13,CCDDDDCCCCDCCCCCCDCDCDCCDCCCDCCCCDCCCDDCCCCDDCCCCD,1,0.01,0.68
14,CCDCDDCDCCCCCDCCCDDDDDCCDCCCDCCCCCCCCDCDCDCCCCDCCC,1,0.01,0.68
15,CCDCDDCCCDDCCDDCCDDDDDCCCCDCDCCCDCCDCCDDCCCDDDDCCC,1,0.01,0.56
16,CDCCCCDCDDDDCDCCCCDDDCCCCCCCCCCDCDCCCCDCCCCDCCCCCC,1,0.01,0.72
17,CCCCCDDCCDDDDCDDCDDDCCDDDDDDDCCCCCDCDDCCCCCDDCCCCC,1,0.01,0.54
18,CCDCCCCCCCCDCDCCCDDDDCCCCCDCDCCCDCDCCDDCCCCDDCCCCC,1,0.01,0.70
19,CCCCDDCDCDCCCCCCCDCCDCCCDCDCCCDCCCCCCCCCCCCDCCCCCC,1,0.01,0.80
20,CCCCCCDDCCCCCDCCCDCDCCCCCCDCCCCCCCCCCCDCCCCDCCCCCC,1,0.01,0.84
21,CCCCDDCDCDCCCCCCCDCDCDDCDCCCDCDCCCDCCCDCCCCDDDCCDC,1,0.01,0.66
22,CCDCCCCCCCCCCCCDDCDDCCDCCCDCDCDCCCDCCCDCCCCDDDDCCC,1,0.01,0.70
23,DCCCDCDDCCDDCCDCCCDDCDCCDCCCCCCCCCCCCCDCDDCDCDCCCC,1,0.01,0.68
24,CCCDCCDDCCCCCCCCCDCDDDCCCCDCDCCCCCDCCCDCCCCDCCDCCC,1,0.01,0.74
25,CCCCDCDDCCDDCCDCCCDDCDCCDCCCCCCCCCCCCCDCDDCDCDDCCC,1,0.01,0.68
26,CDCCDDCCCCCCCCCCCDCDCDDCDDCDCCCDDCDDCCDCCCCDCCDDDC,1,0.01,0.62
27,CCCCDDCCCDCCDCCDCDCDDCCCDCDCCCCCCDCCCCCCCCCDCCCCCC,1,0.01,0.76
28,CCCCCDCCCDDCCDDCCDDDDDCCCCDCDCCCCCDCDDCCCCDDDDDDDD,1,0.01,0.54
29,CCCCCDDCCDDDDCCCDDDDDDDCCCDCDCCDCDDDCDDCCCCDDCCDCC,1,0.01,0.52
...,...,...,...,...
69,CCDCCDDDDCCDDDDCCCDDCCCCCDCDDDDCCDCCCCDDCCCDCCDCCC,1,0.01,0.58
70,CCCCDDCDCDCCDCCDCDDDCCDCDCCDDDDCCCDCCDCCCCDDDDDDDD,1,0.01,0.50
71,CCCCCDCDCDCDDCCCDDDDDDDCCCDCDCCDCDDCCCDCCDCDDDDDCD,1,0.01,0.50
72,DCCCDDCCCCDCCCDCCDDCDCCCCCDCDDCCCCDCCCDCCDCDDCDCCC,1,0.01,0.66
73,CCDCDDCCCDCCDCCDCDCDDCCCDCDCCCCCCCDCCCDCCCCDCCDCCC,1,0.01,0.70
74,CCDCDDCCCDCCDCCDCDCDDCCDDCDCDDDCCCDCCDCCCCDDDDDDDD,1,0.01,0.50
75,CCDCDDCCCDDDCCCCCCCCDCCCCCDCDCCCCCDCCCDCCDCDDDCDDC,1,0.01,0.66
76,DCCCCCDCCDDDCCCCDDDDCCDCCCDCDCDCCCDCCCDCCDCDDCDCCC,1,0.01,0.62
77,CCDCDDCCCCCCCCCCCDCDDDDCDDCDCCCDDCDDCCDCCCCDCCDDDC,1,0.01,0.60
78,CCDCCCCCCCDCCDDCCCDDCCCCCDCCDCCCCCCCCCDCCCDDCDCCCC,1,0.01,0.76
79,CCCCDDDCCDCCCDCCDDDDCCDCCCDCDCCCCDCDCCDCCCCDDCDCCC,1,0.01,0.64
80,CDCCDDCCCCCCCCCDDCDDDDCCCCDCDCCCDCCCCCDDCCCDDDDCCC,1,0.01,0.64
81,CCCCDDCCCDCDCDCCCDDDDCCCCDDCDCCCDDCCCCDCCCCDCCDCCC,1,0.01,0.66
82,CCDCDDCCCDCCCCCCCCCDCDCDDCCCDCCCCDCCCDDCCCCDDCCCCC,1,0.01,0.72
83,CDCCCDCDCCCCCDDCCDDDDCCCCCDCDCCCDCDCCCDCCCCDCCDCDC,1,0.01,0.66
84,CCDDDDCDCCDCCDCDCDCDDCCCDCDCCCDCCCCCCCCCCCCCCDDDDC,1,0.01,0.64
85,CCDCDDCDCDCDCDCCCDDDDCCCCCDCDCCDCDDCCDCCCCDDCDDCCD,1,0.01,0.56
86,CCCCDDDCCDDCDCCCCDDDCCDCDCCCDDDCDCCCCCDCCCCDCDCDCC,1,0.01,0.62
87,CCCCCDCCCCDDDCDCCCCDDCCCCCDCDCCCDDDCCCDCCCCDCCCCCC,1,0.01,0.72
88,CDDCCCDDDCCDDDDCCDDDDCCCCCDCDCCCDCDCCCDCCCCDDCCCCC,1,0.01,0.60
89,CCCDCDCDCCCCCDDCCDDCDCCCCCDCDDCCCCDCCCDCCDCDDCDCCC,1,0.01,0.66
90,CCCCCDCCCDCCDCCDCDCDDCCCDCDCCDCCCCCCCCCCCCCDCCCCCC,1,0.01,0.78
91,CCDCDDDCDDDDCDDCCDDDDCCCCCDCDCCCDCDCCCDDCCCDCCCCCC,1,0.01,0.58
92,CCDCDDCCCDDDDCCCCDCDCDDCDCCCCCCCCCCDDDCDCCCDCDDDCD,1,0.01,0.58
93,CCCCDDCCCDDCCDDCCDDDDCDCCCDCDCDCCCDCCDCCDDCDDDDDCD,1,0.01,0.52
94,CCDCDDCCCDDDDCCCCCCDCDDCDCCCCCCCCCCDDDCCCCCDDCCCCC,1,0.01,0.68
95,DDCCCDCCCDDCCDDCCDDDDDDCCCDCDCDCCCDCCDCCDDCDDDDDCD,1,0.01,0.48
96,CCCCDDDCCCDCCDDCCDDDDDCCCCDCDCCCDCCCCCDDCDCCCDDDDC,1,0.01,0.58
97,CCDCDDCCCCCDDDDCCCDDCCCCCCCCDCCCCCCCCCDCDCDDCDCCDC,1,0.01,0.68
98,CCDCDDCDCDCCCCCCCDCDCDDCDCCCDCCCDCDCCCDCCDCDDDCCDC,1,0.01,0.62

In [845]:
evolutionary_snapshot_6 = genetic_selection(total_n=20,
                                            past_n=20,
                                            population_size=100,
                                            max_competitions_per_round=200,
                                            evolution_cycles=100,
                                            min_mutation_individual=0, # accept zero mutation per ecolutionary cycle
                                            mutation_rate=0.01, # low mutation
                                            crossover_rate=1, # 100% sexual reproduction
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_6

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CCCCCCCCCCCCCCDCDCCC           9   0.09  0.90
1   CCCCCDCCCCCCCCDCDDCC           6   0.06  0.80
2   CCCDCDCCCCCCCCDCDDCC           6   0.06  0.75
3   CCCCCCCCCDCCCCDCCCCC           4   0.04  0.90
4   CDCCCCCCCCCCCCDCDCCC           4   0.04  0.85
5   CCCDCCCCCCCCCCDCDCCC           4   0.04  0.85
6   CDCCCCCCCCCDCCDCDDCC           4   0.04  0.75
7   CCCCCDCCCCCCCCDCDCCC           3   0.03  0.85
8   CCCCCCCCCCCCCCDCDDCC           3   0.03  0.85
9   CCCCCCCCCDDCCCDCDDCC           3   0.03  0.75
10  CCCDCCCCCCCDCCDCDCCC           3   0.03  0.80
11  CDCCCCCCCCCCCCDCDDCC           2   0.02  0.80
12  CDCCCDCCCCCCCCDCDDCC           2   0.02  0.75
13  CCCCCDCCCDDCCCDCDDCC           2   0.02  0.70
14  CCCCCCCCCCCDDCDCDDCC           2   0.02  0.75
15  CCCDCCCCCCCCCCDCDDCC           2   0.02  0.80
16  CCDCCCCCCCCDCCDCDDCC           2   0.02  0.75
17  CCCDCCCCCDDCCCDCDDCC           2   0.02  0.70
18  CCCCCCCCCCCCCCDCCDCC           2   0.02  0.90
19  CCCDCDCCCCCCCCDCDCCC           2   0.02  0.80
20  CCCCCCCCCCCDDCDCCDCC           2   0.02  0.80
21  CCDCCCCCCCCDCCDCDCCC           2   0.02  0.80
22  CCDCCCCCCCCDCCDCCCCC           1   0.01  0.85
23  CCCCCCCCCCCDCCDCCCCC           1   0.01  0.90
24  CCCDCCCCCCCDCCDCDDCC           1   0.01  0.75
25  CDCCCDCCCDCCCCDCCCCC           1   0.01  0.80
26  CDCCCCCCCCCDCCDCDCCC           1   0.01  0.80
27  CCCCCCCCCDDCCCDCDCCC           1   0.01  0.80
28  CCCDCDCCCDCCCCDCDDCC           1   0.01  0.70
29  CCDCCCCCCCCCCCDCDDCC           1   0.01  0.80
30  CCDCCCCCCCCCCCDCDCCC           1   0.01  0.85
31  CCCCCDCCCDCCCCDCDCCC           1   0.01  0.80
32  CCCCCDCCCDCCCCDCDDCC           1   0.01  0.75
33  CCCDCDCCCDCCCCDCDCCC           1   0.01  0.75
34  CDCCCDCCCCCCCCDCCCCC           1   0.01  0.85
35  CDCCCDCCCDCCCCDCDCCC           1   0.01  0.75
36  CDCCCCCCCCCDDCDCCDCC           1   0.01  0.75
37  CCCDCDCCCCCCCCDCCCCC           1   0.01  0.85
38  CCCCCCCCCCCCCCDCCCCC           1   0.01  0.95
39  CCDCCCCCCDDCCCDCDCCC           1   0.01  0.75
40  CDCCCDCCCCCCCCDCDCCC           1   0.01  0.80
41  CCCDCCCCCDCCCCDCDCCC           1   0.01  0.80
42  CDCCCCCCCCCCCCDCCCCC           1   0.01  0.90
43  CCCCCDCCCDCDCCDCDCCC           1   0.01  0.75
44  CCCDCCCCCDCCCCDCCCCC           1   0.01  0.85
45  CCCDCCCCCCCCCCDCCCCC           1   0.01  0.90
46  CDCCCDCCCDDCCCDCCCCC           1   0.01  0.75
47  CDCCCCCCCCCCDCDCDDCC           1   0.01  0.75
48  CDCCCDCCCDDCCCDCDDCC           1   0.01  0.65
49  CCDCCDCCCCCCCCDCDDCC           1   0.01  0.75
50  CCDCCCCCCCCCCCDCCCCC           1   0.01  0.90

In [846]:
evolutionary_snapshot_7 = genetic_selection(total_n=20,
                                            past_n=20,
                                            population_size=100,
                                            max_competitions_per_round=200,
                                            evolution_cycles=100,
                                            min_mutation_individual=0, # accept zero mutation per ecolutionary cycle
                                            mutation_rate=0.01, # low mutation
                                            crossover_rate=1, # 100% sexual reproduction
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_7

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CCCCCCDCCCCCCCDDCCCC          15   0.15  0.85
1   CCCCCCCCCCCCCCDDCCCC          10   0.10  0.90
2   CCCCCCDCCCCCCCDCCCCC           9   0.09  0.90
3   CCCCCCCCCCCCCCDDCCDC           7   0.07  0.85
4   CCCCCCCCCCCCCCDCCCCC           6   0.06  0.95
5   CCCCCCDCCCCCCCDDCCDC           6   0.06  0.80
6   CCCCCCCCCCCCCCDCCCDC           5   0.05  0.90
7   CCCCCCDCCCCCDCDCCCDC           5   0.05  0.80
8   CCDCCCCCCCCCCCDDCCDC           4   0.04  0.80
9   CCCCCCDCCCCCDCDCCCCC           4   0.04  0.85
10  CCCCCCDCCCCCCCDDCDCC           3   0.03  0.80
11  CCCCCCDCCCCCDCDDCCDC           3   0.03  0.75
12  CCCCCCDCCCCCDCDDCCCC           3   0.03  0.80
13  CCCCCDCCCCCCCCDDCCCC           2   0.02  0.85
14  CCCCCCDCCCCCCCDCCCDC           2   0.02  0.85
15  CCCCCCCCCCCCDCDDCCDC           1   0.01  0.80
16  CCCDCCDCCCCCCCDDCCDC           1   0.01  0.75
17  CCCCCCDCCCCCCCDCCDDC           1   0.01  0.80
18  CCCCCCCCCCCCCCDCCDDC           1   0.01  0.85
19  CCDCCCDCCCCCCCDDCCDC           1   0.01  0.75
20  CCDCCCDCCCCDCCDDCCDC           1   0.01  0.70
21  CCCCCCDCCCCCCCDDCDDC           1   0.01  0.75
22  CCDCCCDCCCCCCCDCCCCC           1   0.01  0.85
23  CCCCCDCCCCCCCCDDCCDC           1   0.01  0.80
24  CCCCCCCCCCCCCCDDCDDC           1   0.01  0.80
25  CCCCCDCCCCCCCCDCCCDC           1   0.01  0.85
26  CCDCCCCCCCCCDCDDCCDC           1   0.01  0.75
27  CDCCCCDCCCCCCCDDCCCC           1   0.01  0.80
28  CCDCCCDCCCCCCCDDCCCC           1   0.01  0.80
29  CCCCCCDCCCCCCCDCCDCC           1   0.01  0.85
30  CCDCCDCCCCCCCCDCCCDC           1   0.01  0.80

In [847]:
evolutionary_snapshot_8 = genetic_selection(total_n=20,
                                            past_n=20,
                                            population_size=100,
                                            max_competitions_per_round=10,
                                            evolution_cycles=500,
                                            min_mutation_individual=1, # accept zero mutation per ecolutionary cycle
                                            mutation_rate=0.01, # low mutation
                                            crossover_rate=1, # 100% sexual reproduction
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_8

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

               Strategy  Population  Ratio   C_%
0  CCCCCCCCCCCCCCCCCCCC          58   0.58  1.00
1  CCCCDCCCCCCCCCCCCCCC          19   0.19  0.95
2  CCCCCCCCDCCCCCCCCCCC           8   0.08  0.95
3  CCCCCCCCCCCCCCCCCCDC           7   0.07  0.95
4  CCCCDCCCCCCCCCCCCCDC           3   0.03  0.90
5  CDCCCCCCCCCCCCCCCCCC           2   0.02  0.95
6  CCCCCCCCDCCCCCCCCCDC           1   0.01  0.90
7  CDCCCCCCCCCCCCCCCCDC           1   0.01  0.90
8  CCCCDCDCCCCCCCCCCCCC           1   0.01  0.90

### While a strictly cooperative strategy may not intuitively be competitive, the "fitness" is always contextual. In a culture where almost everyone cooperates, it pays to cooperate w/ others. An emergence of a cooperative culture.
### Defectors can subvert this culture, but two factors prohibit this:
### 1. There's no outsider in this simulation. All players are descended from cooperative parents. In this simulation, mutation is rare.
### 2. A critical mass of defectors is more likely to change the existing cooperative culture.

### Some more simulations:

In [848]:
evolutionary_snapshot_9 = genetic_selection(total_n=20,
                                            past_n=20,
                                            population_size=100,
                                            max_competitions_per_round=50,
                                            evolution_cycles=1000, # More cycles
                                            min_mutation_individual=5,
                                            mutation_rate=0.01,
                                            crossover_rate=1, # 100% sexual reproduction
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_9

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CDCCCDCCDCCCCCCCCCCC           8   0.08  0.85
1   CCCCCCCCDCCCCCCCCCCC           8   0.08  0.95
2   CCCCCDCCDCCCCCCCCCCC           8   0.08  0.90
3   CCCCCDCCDCCCCCCCCCCD           6   0.06  0.85
4   CDCCCCCCDCCCCCCCCCCC           4   0.04  0.90
5   CCCCCDCCDCCCCCCCCCDC           4   0.04  0.85
6   CCCCCCCCDCCCCCCCCCCD           3   0.03  0.90
7   CCCDDDCCDDCCCCCCCCCC           3   0.03  0.75
8   CCCCCCCCDCCCCCCCCCDC           3   0.03  0.90
9   CCDCCCCCDCCCCCCCCCCC           3   0.03  0.90
10  CCCDCDCCDCCCCCCCCCCC           2   0.02  0.85
11  CDCDCCCCDCCCCCCCCCCC           2   0.02  0.85
12  CCCDCDCCDCCCCCCCCCCD           2   0.02  0.80
13  CCCCCDCCDCCCCDCCCCDC           2   0.02  0.80
14  CDCCCDCDDDCCCCCCCCCD           2   0.02  0.70
15  CDCCCCCCDCCCCCCCCCCD           2   0.02  0.85
16  CDCCCDCCDCCCCCCCCCCD           2   0.02  0.80
17  CDCCCDCCDCCCCCCCCCDC           2   0.02  0.80
18  CCCCCDCCCDCCCDCDCCCC           2   0.02  0.80
19  CDDCCCCCDCCCCCCCCCDC           2   0.02  0.80
20  CCCCCCCCDDCCCCCCCCCC           2   0.02  0.90
21  CCCCCDCDDCCCCCCCCCCC           2   0.02  0.85
22  CDCCCDCCDDCCCCCCCDDC           1   0.01  0.70
23  CCDCCCCCDCCCCDCCCCCD           1   0.01  0.80
24  CDCCCCCCDCCCCDCCCCCD           1   0.01  0.80
25  CDCCCDCCDCCCCDCDCCCC           1   0.01  0.75
26  CCCCCDCCDCCCCCCCCDDC           1   0.01  0.80
27  CCCCCDCCDCCCDCCCCDDD           1   0.01  0.70
28  CDCCCDCCDCCCCCCCCDCC           1   0.01  0.80
29  CCCCCDCCDDCCCCCCCCCD           1   0.01  0.80
30  CCDCCCCDDCCCCCCCCCCD           1   0.01  0.80
31  CDCCCDCCDDCCCCCCCCCC           1   0.01  0.80
32  CDCCCDCDDCCCCCCCCCCC           1   0.01  0.80
33  CDCCCDCCDDCCCCCCCCCD           1   0.01  0.75
34  CCCDCDCCDDCCCCCCCCCC           1   0.01  0.80
35  CDCCCDCCDCCCDCCCCCCC           1   0.01  0.80
36  CCCCCDCCDCCCCDCCCCCD           1   0.01  0.80
37  CCCCCDCCDDCCCCCCCCCC           1   0.01  0.85
38  CCCCCCCCDCCCDCCCCDDC           1   0.01  0.80
39  CCCCCDCDDDCCCCCCCCCD           1   0.01  0.75
40  CCCCCDCCDCCCDCCCCCCD           1   0.01  0.80
41  CCCDCDCCDCCCCCCCCCDC           1   0.01  0.80
42  CDCCCDCDDCCCCCCCCCDC           1   0.01  0.75
43  CDCDCDCDDDCCCCCCCCCD           1   0.01  0.65
44  CDCCCDCCDCCCCCCCCDDC           1   0.01  0.75
45  CCDCCDCCDCCCCCCCCCCC           1   0.01  0.85
46  CCCDDCCCDDCCCDCDCCCC           1   0.01  0.70
47  DCCCCCCCDCCCCCCCCDDC           1   0.01  0.80

### Try a few different payoff matrixes

In [849]:
low_penalty_matrix = {'CC': (3, 3), 'CD': (0, 10), 'DC': (10, 0), 'DD': (-1, -1)} # less penalty for being cheated

evolutionary_snapshot_10 = genetic_selection(matrix=low_penalty_matrix,
                                             total_n=20,
                                            past_n=20,
                                            population_size=100,
                                            max_competitions_per_round=50,
                                            evolution_cycles=1000,
                                            min_mutation_individual=5,
                                            mutation_rate=0.01,
                                            crossover_rate=1, # 100% sexual reproduction
                                            verbose=0,
                                            return_counter=True)

evolutionary_snapshot_10

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CCCCCCCCCCDCCCCDCCCC           4   0.04  0.90
1   DCCCCDCCCCCCCCCCCCCD           3   0.03  0.85
2   CCCCCCCCCCCCCCCCCCCD           3   0.03  0.95
3   CCCCCDCCCCCCCCCCCCCC           3   0.03  0.95
4   CCCCCDCCCCCCCCCCCCCD           2   0.02  0.90
5   CCDCCDCCCCCCDCCCCCCD           2   0.02  0.80
6   DCCCCDCCCCCCCCCCCCCC           2   0.02  0.90
7   CCCCCDCCCDDCCCDDCCCD           2   0.02  0.70
8   CCCCCCCCDCDCCCCCCCCC           2   0.02  0.90
9   CCCCCCCCDCCCDCCCDCCC           2   0.02  0.85
10  CCCCCDCCCCCCDCCCCCCD           1   0.01  0.85
11  CCCCCCDCCDDCCCCCCCCC           1   0.01  0.85
12  CCCCCDCCDCDCCCCCCCCC           1   0.01  0.85
13  CCDCCDCCCDCCDCCCCDCC           1   0.01  0.75
14  DCCCCCCCDCCCDCCCCCCC           1   0.01  0.85
15  CDDCDDCCCCCCCCCCCCCC           1   0.01  0.80
16  CCCCCDCCCCDCCCCCDCCD           1   0.01  0.80
17  CDCCCDCCCCCCDCCCCCCC           1   0.01  0.85
18  CCCCCCCCCCCCDCCCDCCC           1   0.01  0.90
19  DDCCCDCCCCCCCCDDCCCC           1   0.01  0.75
20  DCCCCCCCCCCCDCCCCCCC           1   0.01  0.90
21  CCCCCDCDCCCCDCCCCCCD           1   0.01  0.80
22  CCDCCDCCCDDCCDCCCCCD           1   0.01  0.70
23  CCDCCDCCDCCCDCDDCCCC           1   0.01  0.70
24  CCCCCDCCDCCCDCCCDCCC           1   0.01  0.80
25  DCCCCCCCDCCCCCCCCCCD           1   0.01  0.85
26  DCCCCCCCCCCCCCCCCCCD           1   0.01  0.90
27  CDDCDDCCCCDCCCDDCCCD           1   0.01  0.60
28  DCCCCCCCDCDCCCCCCDCC           1   0.01  0.80
29  CCCDCCCCCCDCCCCDCCCC           1   0.01  0.85
..                   ...         ...    ...   ...
55  DCCCCCCCCCCCDCCCDCCC           1   0.01  0.85
56  CCDCCDCCCCCCCCCCCCCD           1   0.01  0.85
57  DCCCCDCCCCCCCCCCDCCC           1   0.01  0.85
58  CCCCCCDCCDDCCCDCCDCC           1   0.01  0.75
59  DCCCCCCCCDDCCCCCCCCC           1   0.01  0.85
60  CCCCCCCCCCCCDCDCCCCC           1   0.01  0.90
61  CCCCCDCCCCDCCCCDCCCC           1   0.01  0.85
62  DCDCCDCCCCCCCCCCCCCD           1   0.01  0.80
63  CCCCCCCCCDDCCDCCCCCD           1   0.01  0.80
64  DCCCCCDCCDDCCCDDCCCD           1   0.01  0.65
65  DCDCCDCCCCDCCDCCCCCC           1   0.01  0.75
66  CCDCCDCCCCDCCDCCCCCC           1   0.01  0.80
67  DCCCCCCCDCCCDCDDCCCC           1   0.01  0.75
68  DCCCCDCCDCCCDCCCCCCC           1   0.01  0.80
69  CCCCCDCCCDDCCDCCCCCD           1   0.01  0.75
70  DCDCCDCCDCCCDCDDCCCC           1   0.01  0.65
71  DCCCCCCCDCCCDCDCCCCC           1   0.01  0.80
72  CCDCCDCCCCCCCCCCCCCC           1   0.01  0.90
73  CCCCCDCCCDDCCCCCCCCC           1   0.01  0.85
74  DCCCCCCCDCCCDCCCDCCC           1   0.01  0.80
75  CCCCCCCCDCCCDCCDCCCD           1   0.01  0.80
76  CCDCCDCCCDDCCCCCCCCC           1   0.01  0.80
77  CCCCCCCCDCDCCCCCCCCD           1   0.01  0.85
78  DCCCCCCCCCCCCCCDCCCC           1   0.01  0.90
79  CCCCCDCCCCCCCCCCCDCC           1   0.01  0.90
80  DCDCCDCCCDDCCCCCCCCC           1   0.01  0.75
81  DCCCCDCCCCDCCDCCCCCC           1   0.01  0.80
82  CCCCCCCCDCCCDCCCCCCC           1   0.01  0.90
83  CCCCCCCCCCCCDCCDCCCC           1   0.01  0.90
84  CCCCCDCCCCCCCDCCCCCD           1   0.01  0.85

[85 rows x 4 columns]

In [850]:
severe_penalty_matrix = {'CC': (3, 3), 'CD': (-50, 5), 'DC': (5, -50), 'DD': (-1, -1)} # less penalty for being cheated


genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=1000,
                  min_mutation_individual=5,
                  mutation_rate=0.01,
                  crossover_rate=1, # 100% sexual reproduction
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=1000), HTML(value='')))

               Strategy  Population  Ratio   C_%
0  DCCCCDCCCDDDCDDDCCCD          95   0.95  0.55
1  DCDCCDCCCDDDCDDDCCCD           2   0.02  0.50
2  DCCCDDCCCDDDCDDDCCCD           1   0.01  0.50
3  DCCCCDCCCDDDCDDCCCCD           1   0.01  0.60
4  DCCCCDCCCDDDDDDDCCCD           1   0.01  0.50

In [851]:
reverse_penalty_matrix = {'CC': (3, 3), 'CD': (10, 0), 'DC': (0, 10), 'DD': (-1, -1)} # less penalty for being cheated


genetic_selection(matrix=reverse_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=5,
                  mutation_rate=0.01,
                  crossover_rate=1, # 100% sexual reproduction
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CDCCCCCDCDCDCCCCCDDC           3   0.03  0.70
1   CCCCCCCDCCDDCCDCCDCD           2   0.02  0.70
2   CCDDCDCDCCCDCDCCCDDC           2   0.02  0.60
3   CCCDCDCDCCCDCCDCCDDD           2   0.02  0.60
4   CCCDDCCDCCCCCCCCCCDC           2   0.02  0.80
5   CCCCCCCCCCCDCDDCCCDD           2   0.02  0.75
6   CCCDCCDDCDCDCCDCCDDC           2   0.02  0.60
7   CCDCDCDDCDCCCDCCCDDD           2   0.02  0.55
8   CCCCCCCDCDDCCCDCCDDC           2   0.02  0.70
9   CCCCCCDDCCCDCCCCCDDC           2   0.02  0.75
10  CCDCCCCDCCCDCDCCCDDD           1   0.01  0.65
11  CCCCCDDDCCCDCCDCCCDC           1   0.01  0.70
12  CCCCCCDDCCCCCDCCCCCC           1   0.01  0.85
13  CCDCCDCDCCCDCCDCCDDC           1   0.01  0.65
14  DDCCCDCDDCCDCCDCCCDD           1   0.01  0.55
15  CDDCDCCDCDCDCCDCCDDC           1   0.01  0.55
16  CCDCCDCDCCCDCCDCCDDD           1   0.01  0.60
17  CCDCCDCDCCDDCCDCCDDD           1   0.01  0.55
18  CCDCCDCDCCCDCDDCCCDD           1   0.01  0.60
19  CCCDCCDDCDDCCCDCCDDC           1   0.01  0.60
20  DDCCDCDDCDCCCCCCCDDC           1   0.01  0.60
21  CDCCCCCDCDCCCCDCCDDC           1   0.01  0.70
22  CCCCCCCDCDCDCCDCCDDC           1   0.01  0.70
23  CCDCCDCDCCCCCDDCCDDD           1   0.01  0.60
24  CCCCCDCDCDCDCCCCCDDC           1   0.01  0.70
25  CCCDDDCDCCCDCCCCCDDC           1   0.01  0.65
26  CCCCCCDDCCCDCCDCCCDD           1   0.01  0.70
27  CCCCCDCDCDCCCCCCCDDC           1   0.01  0.75
28  CCCCCDCDCCCDCCDCCDDC           1   0.01  0.70
29  CCDCCCCDCCCCCDDCCDDC           1   0.01  0.70
..                   ...         ...    ...   ...
59  CCCDCCDDCDCCCCCCCDDC           1   0.01  0.70
60  CDDCCCCCCDCDCCDCCDDC           1   0.01  0.65
61  CCCCCCDDCCCCCDDCCDDC           1   0.01  0.70
62  CCCCCCCDCCDDCCDCCDDC           1   0.01  0.70
63  CCCDDCCDCCCDCCDCCDDC           1   0.01  0.65
64  CDDCDCDDCDCCCCDCCDDD           1   0.01  0.50
65  CCCCCDCDCCDDCCDCCDDC           1   0.01  0.65
66  CCDDCDCDCCCDCCDCCDCD           1   0.01  0.60
67  CCCDCDCDCCCDCCDCCCCC           1   0.01  0.75
68  CCCCCDCDCCCDCCDCCDDD           1   0.01  0.65
69  CCCDCDCDCDCCCCCCCDDC           1   0.01  0.70
70  CCCCCCCDCCDCCDCDCDDD           1   0.01  0.65
71  CCDCCDCDCCCCCDDCCDDC           1   0.01  0.65
72  CCCDDCCDCCDCCDCDCDDD           1   0.01  0.55
73  CCCCCDCDCDDDCCDCCDDD           1   0.01  0.55
74  CCCCCCCDCDCCCDCCCCCC           1   0.01  0.85
75  CCDCCDCDCCCDCCCCCDDC           1   0.01  0.70
76  CDCCCCCDCCCDCCDCCDDC           1   0.01  0.70
77  CCDCCDCDCCCCCDCDCDDC           1   0.01  0.65
78  CCCCCCCDCDCDCCCCCCDD           1   0.01  0.75
79  CCCDDCCDCDCCCCCCCDDC           1   0.01  0.70
80  CCCDDCCDCCCCCCCCCDCD           1   0.01  0.75
81  CDCCCCDDCDCCCCCCCDDC           1   0.01  0.70
82  CDCDDCCDCCCDCCDCCDDD           1   0.01  0.55
83  CDDCDCDDCDCCCCCDCDDD           1   0.01  0.50
84  CCCCCCCDCDCDCCCCCDDC           1   0.01  0.75
85  CCCCCCCDCCDCCCDDCDDD           1   0.01  0.65
86  CCCDDCCDCCDCCDCDCDDC           1   0.01  0.60
87  CCDDCDCDCCCDCCDCCCCC           1   0.01  0.70
88  CCDCCCCDCDCDCCCCCDDC           1   0.01  0.70

[89 rows x 4 columns]

In [853]:
cooperative_matrix = {'CC': (30, 30), 'CD': (10, 0), 'DC': (0, 10), 'DD': (-1, -1)} # less penalty for being cheated

# Sexual selection, low mutation

genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=1,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio   C_%
0   CCCCCCCCDCCCCCCCDCCD          58   0.58  0.85
1   CCCCDCCCDCCCCCCCDCCD          16   0.16  0.80
2   CCCCCCCCDCCCCCCCCCCD           8   0.08  0.90
3   CCCCCCCDDCCCCCCCDCCD           8   0.08  0.80
4   CCCCCCCDDCCCCCCCCCCD           2   0.02  0.85
5   CCCCDCCCDCCCCCCCCCCD           2   0.02  0.85
6   CDCCCCCCDCCCCCCCDCCD           2   0.02  0.80
7   CCCCCCCCDCCCCCCCDCCC           1   0.01  0.90
8   CCCCDCCCDCCCCDCCDCCD           1   0.01  0.75
9   CCCCDCCDDCCCCCCCDCCD           1   0.01  0.75
10  CCCCDCCDDCCCCCCCCCCD           1   0.01  0.80

In [854]:
# Asexual reproduction, low mutation rate

genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_%
0  DCCCCCCCCDCDCDCDCCCD         100    1.0  0.7

In [855]:
# Asexual reproduction, low mutation rate, longer evolutionary cycles

genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=500,
                  evolution_cycles=200, # +
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=200), HTML(value='')))

               Strategy  Population  Ratio   C_%
0  DDDCCDCCCCCCDDDCDDCC         100    1.0  0.55

### It seems (from a small sample size! Despite running cells above a few times) that crossover enhances the building of strategies w/ useful foundational blocks. Or it allows for more diversity, which quickly allows cooperative strategies to emerge.

In [857]:
# Asexual reproduction, high mutation rate

genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.2,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_%
0  DDDDCDDDCDCCDCCDCCCC         100    1.0  0.5

In [859]:
genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.2,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio   C_%
0  DDCDCDCDDDDCCDDCDCCC         100    1.0  0.45

In [559]:
genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=5, # +
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DCDCCCCCCCDDDCCDCDDD         100    1.0       11

In [757]:
genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=1, # +
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio  C_count
0   CCDCDCCCCCCCCCCCCCCC          45   0.45       18
1   CCDCDCCCCCCCCCCCCCCD          38   0.38       17
2   CDDCDCCCCCCCCCCCCCCD           5   0.05       16
3   CDDCCCCCCCCCCCCCCCCD           3   0.03       17
4   CCDCDCCCCCCCCCCDCCCC           2   0.02       17
5   CDDCDCCCCCCCCCCCCCCC           2   0.02       17
6   CCDCDCCCDCCCCCCCCCCC           1   0.01       17
7   CCDDDCCCCCCCCCCCCCCC           1   0.01       17
8   CCDCDCCCDCCCCCCCCCCD           1   0.01       16
9   CCDCCCCCCCCCCCCCCCCC           1   0.01       19
10  CCDCDDCCCCCCCCCCCCCD           1   0.01       16

In [758]:
genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0.5, # +
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio  C_count
0   CCCCCCDCCCCCCDCCDCCC          37   0.37       17
1   CCCCCCDCCCCCCCCCDCCC          27   0.27       18
2   CCCCDCDCCCCCCDCCDCCC           8   0.08       16
3   CCCCCCDCCCCCDDCCDCCC           6   0.06       16
4   CCCCCDDCCCCCCCCCDCCC           4   0.04       17
5   CCCCCCDCCCCCCDCCDCCD           3   0.03       16
6   CCCCCCDCCCCCCDCDDCCD           2   0.02       15
7   CCCCCCDCCCCCCDCCDDCC           2   0.02       16
8   CCCCCDDCCCCCCDCCDCCC           2   0.02       16
9   CCCCCCDCCCCCCCCCDCCD           2   0.02       17
10  CCCCDCDCCCCCCDCCDDCC           1   0.01       15
11  CCCCCCDCCCCCCDCCDCDC           1   0.01       16
12  DCCCCCDCCCCCCDCCDCCC           1   0.01       16
13  CCCCDCDCCCCCCCCCDCCC           1   0.01       17
14  CCCCCCDCCCCDCDCCDCCC           1   0.01       16
15  CCCCCDDCCCCCCDCCDCCD           1   0.01       15
16  CCCCDCDCCCCDCDCCDCCD           1   0.01       14

In [564]:
# Baseline, severe_penalty_matrix
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DDCCCDDCDCCDCCDDDCCD         100    1.0       10

In [565]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=1, # +
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CCDCDDDDCDCDDDDDDDDD         100    1.0        5

In [566]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=200, # +
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DDDDCDCDDDDCDCDDCCDD         200    1.0        6

In [567]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=100, # +
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CDDCDCCDCDDCCCDDCDCD         100    1.0       10

In [568]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=500, # +
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CDCDDDDCCCCCDDDCDDDC         100    1.0        9

In [569]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.1, # +
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DCCCDCCCDCCCDCCDCDDC         100    1.0       13

In [570]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.1,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CCCDDDCCCDDDDDDDDDDC         100    1.0        7

In [571]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.1,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CCCDCCDDDDDCDCCCCCCD         100    1.0       12

### Looks like a high mutation_rate will yield highly variable nash equilibria.

In [572]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=1,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
1  DDCDDCCDDCCDDDCDDDDD          69   0.69        6
0  DDCDDCCDCCCDDDCDDDDD          17   0.17        7
2  DDDDDCCDCCCDDDCDDDDD          12   0.12        6
3  DDCDDCCDDCCDDDCDDDCD           1   0.01        7
4  DDCDDCCDDCCDCDCDDDDD           1   0.01        7

In [591]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=.5,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CDDDDDDDDDCCDDDDDDDD          98   0.98        3
1  CDDDDDDDDDCCDDDDDDCD           1   0.01        4
2  CDDDDDDDDDCCDDDDDDDC           1   0.01        4

### Ran the simulation above several times, it seemed that a moderate crossover_rate will be even better than extreme values (0 or 1).

In [598]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DCDCCCCDCCCDCCDCCDDD         100    1.0       12

In [604]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=1,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DDDDCDCCDDDDCDCDDDDC          97   0.97        6
1  DDDDCDCCDDDDCDCDDDCC           1   0.01        7
2  DDDDCDCCDDDDCDDDDDDC           1   0.01        5
3  DDDDCDCCDDDDCDCCDDDC           1   0.01        7

In [636]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=1000,
                  max_competitions_per_round=50,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0.5,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

                Strategy  Population  Ratio  C_count
0   DDCDDCDDDCDCCCDCCCCC         449   0.45       11
2   DDDDCCDDDDDCCDCDCCCD         413   0.41        8
1   DDDCCCCDDDCCCDCCDCCD          51   0.05       11
5   DDDCCCCDDDDCCDCCDCCD          20   0.02       10
4   DDDDCCDDDDDCCDCCDCCD          19   0.02        8
3   DDDCCCCDDDDCCDCDCCCD          17   0.02       10
6   DDDCCCDDDDDCCDCDCCCD          15   0.02        9
8   DDDDCCCDDDDCCDCCDCCD           7   0.01        9
7   DDCDCCDDDDDCCDCDCCCD           3   0.00        9
9   DDDDCCDDDDDCCCCDCCCD           2   0.00        9
10  DDDDCCDDDDDCCDCDCCDD           1   0.00        7
11  DDDCCCCDDDDCCDCCCCCD           1   0.00       11
12  DDDDCCDDDDDCCDCDDCCD           1   0.00        7
13  DDDDCCDDDDDCDDCDCCCD           1   0.00        7

In [654]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=100,
                  max_competitions_per_round=5,
                  evolution_cycles=100,
                  min_mutation_individual=0,
                  mutation_rate=0.01,
                  crossover_rate=0.5,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CCDCDCCDDCDCDDCDDCDD          90    0.9        9
1  CCDCDCCDDDDCDDCDDCDD          10    0.1        8

### Ran the cell above a few times, it seemed that increasing max_competitios_per_round past some fairly low threshold has limited benefits. It seemed to suggest that every individual having lots of experience is unnecessary. Nature has sown so many seeds, the suitable ones will persist nonetheless.

In [723]:
genetic_selection(matrix=severe_penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=50,
                  max_competitions_per_round=20,
                  evolution_cycles=500,
                  min_mutation_individual=0,
                  mutation_rate=0.05,
                  crossover_rate=0.9,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  DDDCDDDCCDDDDCDCDDDD          48   0.96        5
1  DCDCDDDCCDDDDCDCDDDD           1   0.02        6
2  DDDCDDDCDDDDDCDCDDDD           1   0.02        4

In [759]:
penalty_matrix = {'CC': (-50, -50), 'CD': (-50, 50), 'DC': (50, -50), 'DD': (50, 50)}
genetic_selection(matrix=penalty_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=50,
                  max_competitions_per_round=20,
                  evolution_cycles=500,
                  min_mutation_individual=0,
                  mutation_rate=0.05,
                  crossover_rate=0.9,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

                Strategy  Population  Ratio  C_count
0   DDDDDDDDDDDDDDDDDDDD          11   0.22        0
1   DDDDDDCDDDDDDDDDDDDD           5   0.10        1
2   DDDDDDDDDDDDDDDDDDCD           4   0.08        1
3   DDDDDDDDDCDDDDDDDCDD           4   0.08        2
4   DCDDDDDDDDDDDDDDDDDD           4   0.08        1
5   DDDDDDCDDCDDDDDDDDDD           3   0.06        2
6   DDDDDDDDDDDDDDDDDCDD           3   0.06        1
7   DDDDDDCDDCDDDDDDDCCD           2   0.04        4
8   DDDDDDDDDDDDDDDDCCDD           2   0.04        2
9   DCDDDDCDDDDDDDDDDDDD           2   0.04        2
10  DDDDDDDDDCDDDDDDDDDD           1   0.02        1
11  DDDDDDCDDDDDDDDDCCDD           1   0.02        3
12  DDDDDDDDDDDDDDDDDCCD           1   0.02        2
13  DDDDDDCDDDDDDDDDDDCD           1   0.02        2
14  DDDDDDDDDDDDDCDDDCDD           1   0.02        2
15  DCDDDDDDDCDDDDDDDDDD           1   0.02        2
16  DCDDDDDDDDDDDDDDDDCD           1   0.02        2
17  DDDDDDCDDCDDCDDDDCCD           1   0.02        5
18  DCDDDDDDDDDDDDDDDCCD           1   0.02        3
19  DDDDDDCDDCDDDDDDDDCD           1   0.02        3

In [761]:
genetic_selection(matrix=cooperative_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=50,
                  max_competitions_per_round=20,
                  evolution_cycles=500,
                  min_mutation_individual=0,
                  mutation_rate=0.05,
                  crossover_rate=0.9,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

                Strategy  Population  Ratio  C_count
0   CCCCCCCCCDCCCCCDCCCC          25   0.50       18
1   CCCCCCCCCDCCCCCDCDCC           5   0.10       17
2   CCCCCCCCCDCCCCCDDDCC           3   0.06       16
3   CCCCCCDCCDCCCCCDCCCC           3   0.06       17
4   DDCCCCCCCDCCCCCDCCCC           2   0.04       16
5   CCCCCCDCCDCCCCCDCDCC           2   0.04       16
6   CCCCCCCCCDCCDCCDCCCC           1   0.02       17
7   CCCCCCCCCDCCCCCDCDCD           1   0.02       16
8   DDCCCCCCCDCCCCCDCCDC           1   0.02       15
9   CCCCCCCCCDCDCCCDCDCC           1   0.02       16
10  DDCCDCCCCDCCCCCDCCCC           1   0.02       15
11  CCCCCCCCCDDCCCCDCCCC           1   0.02       17
12  CCDCCCCCCDCCCCCDCCCC           1   0.02       17
13  CCDCCCCCCDCCCCCDCDCC           1   0.02       16
14  CCCCCCCCCDCCCCCDDCCC           1   0.02       17
15  CCCCCCCCCDCCCCDDCCCC           1   0.02       17

In [764]:
one_sided_matrix = {'CC': (10, 0), 'CD': (-10, 10), 'DC': (0, -10), 'DD': (0, 0)}
genetic_selection(matrix=one_sided_matrix,
                  total_n=20,
                  past_n=20,
                  population_size=50,
                  max_competitions_per_round=20,
                  evolution_cycles=500,
                  min_mutation_individual=0,
                  mutation_rate=0.05,
                  crossover_rate=0.9,
                  verbose=0,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

               Strategy  Population  Ratio  C_count
0  CCCCCCCCCCCCCCCCCCCC          38   0.76       20
1  CDCCCCCCCCCCCCCCCCCC           4   0.08       19
2  CCCCCCCCDCCCCCCCCCCC           2   0.04       19
3  CCCCCCCCCCCCCCCCCDCC           1   0.02       19
4  CCCCCCDCCCCCCCCCCCCC           1   0.02       19
5  CCCCCCCCCCCCCCDCCCCC           1   0.02       19
6  CCCCCCCCCCCDCCCCCCCC           1   0.02       19
7  CCCCCCCCCDCCCCCCCCCC           1   0.02       19
8  CCDCCCCCCCCCCCCCCCCC           1   0.02       19

In [771]:
one_sided_matrix = {'CC': (10, 0), 'CD': (-10, 10), 'DC': (0, -10), 'DD': (0, 0)}
genetic_selection(matrix=one_sided_matrix,
                  total_n=20,
                  past_n=25,
                  population_size=10,
                  max_competitions_per_round=20,
                  evolution_cycles=20,
                  min_mutation_individual=0,
                  mutation_rate=0.05,
                  crossover_rate=0.9,
                  verbose=1,
                  return_counter=True)

HBox(children=(IntProgress(value=0, max=20), HTML(value='')))

-----
Generation: 0
               Strategy  Freq  Avg_wt  New_freq  C_count
0  DDCCCDCDDCCCCCCCDCCC     1     840         2       14
1  DCDDCCCDCCDCDCDCCCCC     1     810         3       13
2  CCDCCDDCDCDCCDDDCDCC     1     500         2       11
3  CCDCDDDCDDDCCCDDCCDC     1     500         1       10
4  CDCCCCDCDDCCDCDDCDDD     1     400         1       10
5  DCDCCCDDCDDCDCCDDCCD     1     380         1       10
6  CCDDCDDDCCDCDCCDDCDC     1     330         0       10
7  DCDDCDDDCCCDDCCDCCDD     1      10         0        9
8  CCDDDDDCDDDCCCDDCDDD     1    -150         0        7
9  CDDCDCCDDDDDCCCCCDDC     1    -200         0       10

Mutations:

-----
Generation: 1
               Strategy  Freq  Avg_wt  New_freq  C_count
0  DDCCCDCDDCCCCCCCDCCC     2    1255         3       14
1  CCDCCDDCDCDCCDDCCCCC     1    1170         0       13
2  CCDCDDDCDDDCCCDCCCCC     1    1160         2       12
3  CDCCCCDCDDDCCCDDCCDC     1    1080         3       12
4  DCDDCCCDCCDCDCDCCCCC     1     960         0       13
5  CCDCCDDCDCDCCDDDCDCC     1     730         1       11
6  DDDCDDDCDDDCCCDDCCDC     1     240         1        8
7  DCDDCCCCDDCCDCDDCDDD     1      60         0        9
8  DCDDCCCDCCDCDCDDCDDD     1      30         0        9

Mutations:

-----
Generation: 2
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCCDDDCCCCCCCDCCC     1    1800         1       15
1  DDCCCDCDDCCCCCCCDCCC     2    1635         2       14
2  CCDCCCDCDDDCCCDDCCDC     1    1530         0       12
3  DDCCCDCDDCCCCCCCDCDC     1    1470         2       13
4  CDCCCCDCDDDCCCDDCCDC     2    1385         3       12
5  DDDCDDDCDDDCCCDCCCCC     1    1110         1       10
6  CCDCDDDCDDDCCCDCCCCC     1     950         0       12
7  CCDCCDDCDCDCCDDDCCDC     1     800         1       11

Mutations:

-----
Generation: 3
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     1    2250         2       15
1  CDCCCCDDDCCCCCCCDCDC     1    1960         0       14
2  DDCCCDCDDCCCCCCCDCCC     2    1955         6       14
3  DDCCCDCDDCCCCCCCDCDC     1    1900         0       13
4  DDCCCDCDDCDCCCDCCCCC     1    1690         0       13
5  CDCCCCDCDDDCCCDCCCCC     1    1640         0       14
6  CCDCCDDDDCCCCCCCDCCC     1    1620         2       14
7  CDCCCCDCDDDCCCDDCCDC     1     780         0       12
8  DDDCDDDCDDDCCCDCCCDC     1     730         0        9

Mutations:
(D->C)DCCCDDDDCCCCCCCDCCC

-----
Generation: 4
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     2    2750         4       15
1  DDCCCDCDDCCCCCCCDCCC     4    2515         3       14
2  CDCCCDDDDCCCCCCCDCCC     1    2500         0       14
3  DDCCCDDDDCCCCCCCDCCC     1    2270         1       13
4  CCDCCDDDDCCCCCCCDCCC     2    2205         2       14

Mutations:

-----
Generation: 5
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     3  2730.00         3       15
1  DDCCCDCDDCCCCCCCDCCC     3  2446.67         2       14
2  CCDCCDDDDCCCCCCCDCCC     3  2323.33         2       14
3  DDCCCDDDDCCCCCCCDCCC     1  2310.00         3       13

Mutations:

-----
Generation: 6
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     3  2736.67         6       15
1  DDCCCDCDDCCCCCCCDCCC     2  2600.00         2       14
2  CCDCCDCDDCCCCCCCDCCC     1  2490.00         1       15
3  DDCCCDDDDCCCCCCCDCCC     3  2303.33         1       13
4  CCDCCDDDDCCCCCCCDCCC     1  2210.00         0       14

Mutations:

-----
Generation: 7
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     6  2883.33         5       15
1  DDCCCDCDDCCCCCCCDCCC     2  2630.00         2       14
2  CCDCCDCDDCCCCCCCDCCC     1  2480.00         1       15
3  DDCCCDDDDCCCCCCCDCCC     1  2190.00         2       13

Mutations:

-----
Generation: 8
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     5  2856.00         4       15
1  DDCCCDCDDCCCCCCCDCCC     3  2646.67         4       14
2  CCDCCDCDDCCCCCCCDCCC     1  2570.00         1       15
3  DDCCCDDDDCCCCCCCDCCC     1  2270.00         1       13

Mutations:
CDCCCDCDDCC(C->D)CCCCDCCC

-----
Generation: 9
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CCCCCDCDDCCCCCCCDCCC     1  2860.00         0       16
1  CDCCCDCDDCCCCCCCDCCC     3  2836.67         1       15
2  DDCCCDCDDCCCCCCCDCCC     4  2622.50         9       14
3  CDCCCDCDDCCDCCCCDCCC     1  2490.00         0       14
4  DDCCCDDDDCCCCCCCDCCC     1  2330.00         0       13

Mutations:
DDCCCDCDDCCCCCCC(D->C)CCC

-----
Generation: 10
               Strategy  Freq  Avg_wt  New_freq  C_count
0  DDCCCDCDDCCCCCCCCCCC     1  2820.0         2       15
1  CDCCCDCDDCCCCCCCDCCC     1  2800.0         2       15
2  DDCCCDCDDCCCCCCCDCCC     8  2762.5         6       14

Mutations:
DDCCCDCDDCCCCCCCC(C->D)CC
DDCCCDCDDCCCCCC(C->D)DCCC

-----
Generation: 11
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     2    2790         2       15
1  DDCCCDCDDCCCCCCCCCCC     1    2760         0       15
2  DDCCCDCDDCCCCCCCDCCC     5    2698         5       14
3  DDCCCDCDDCCCCCCDDCCC     1    2370         2       13
4  DDCCCDCDDCCCCCCCCDCC     1    2350         1       14

Mutations:

-----
Generation: 12
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     1  2790.00         0       15
1  DDCCCDCDDCCCCCCCDCCC     6  2666.67         5       14
2  DDCCCDCDDCCCCCCCCDCC     1  2430.00         1       14
3  CDCCCDCDDCCCCCCDDCCC     1  2420.00         2       14
4  DDCCCDCDDCCCCCCDDCCC     1  2370.00         2       13

Mutations:

-----
Generation: 13
               Strategy  Freq  Avg_wt  New_freq  C_count
0  DDCCCDCDDCCCCCCCDCCC     4    2695         5       14
1  CDCCCDCDDCCCCCCDDCCC     2    2520         2       14
2  DDCCCDCDDCCCCCCDDCCC     3    2430         2       13
3  DDCCCDCDDCCCCCCCCDCC     1    2370         1       14

Mutations:

-----
Generation: 14
               Strategy  Freq   Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     1  2710.00         1       15
1  DDCCCDCDDCCCCCCCDCCC     5  2678.00         4       14
2  CDCCCDCDDCCCCCCCCDCC     1  2420.00         2       15
3  DDCCCDCDDCCCCCCDDCCC     3  2343.33         3       13

Mutations:
D(D->C)CCCDCDDCCCCCCCCDCC

-----
Generation: 15
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     1    2680         1       15
1  DDCCCDCDDCCCCCCCDCCC     4    2585         5       14
2  CDCCCDCDDCCCCCCDDCCC     1    2470         1       14
3  DCCCCDCDDCCCCCCCCDCC     1    2430         1       15
4  CDCCCDCDDCCCCCCCCDCC     1    2390         2       15
5  DDCCCDCDDCCCCCCDDCCC     2    2375         0       13

Mutations:

-----
Generation: 16
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     2  2760.0         2       15
1  DCCCCDCDDCCCCCCCDCCC     1  2650.0         0       15
2  DDCCCDCDDCCCCCCCDCCC     4  2557.5         3       14
3  CDCCCDCDDCCCCCCCCDCC     1  2550.0         1       15
4  CDCCCDCDDCCCCCCDDCCC     1  2390.0         4       14
5  DDCCCDCDDCCCCCCCCDCC     1  2340.0         0       14

Mutations:

-----
Generation: 17
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     3  2820.0         4       15
1  CDCCCDCDDCCCCCCDDCCC     4  2592.5         4       14
2  DDCCCDCDDCCCCCCCDCCC     2  2570.0         1       14
3  DDCCCDCDDCCCCCCCCDCC     1  2220.0         1       14

Mutations:

-----
Generation: 18
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCDCDDCCCCCCCDCCC     4    2885         3       15
1  CDCCCDCDDCCCCCCDDCCC     4    2650         5       14
2  DDCCCDCDDCCCCCCCDCCC     1    2560         1       14
3  DDCCCDCDDCCCCCCDDCCC     1    2350         1       13

Mutations:
CDCCCD(C->D)DDCCCCCCDDCCC
CDCCC(D->C)CDDCCCCCCCDCCC

-----
Generation: 19
               Strategy  Freq  Avg_wt  New_freq  C_count
0  CDCCCCCDDCCCCCCCDCCC     1    2800         1       16
1  CDCCCDCDDCCCCCCCDCCC     1    2770         1       15
2  CDCCCDCDDCCCCCCDDCCC     5    2680         6       14
3  DDCCCDCDDCCCCCCDDCCC     2    2350         2       13
4  CDCCCDDDDCCCCCCDDCCC     1    2270         0       13

Mutations:

               Strategy  Population  Ratio  C_count
0  CDCCCDCDDCCCCCCDDCCC           8    0.8       14
1  CDCCCDCDDCCCCCCCDCCC           1    0.1       15
2  DDCCCDCDDCCCCCCDDCCC           1    0.1       13